{% extends '@Dashtainer/project/service/create.html.twig' %}

{% block serviceContent %}
<div class="row">
    <div class="form-group col">
        <label class="form-label" for="name">Service Name</label>
        <input type="text" class="form-control" maxlength="64"
               id="name" name="name" placeholder=""
               value="{{ service.name }}" required data-mask-type="dns"
               data-update-text="service-name-tag"
               data-error-container="name" />
        <div class="invalid-feedback" data-error-container-name="name"></div>
    </div>
</div>

<div class="alert alert-icon alert-info mb-6" role="alert">
    <i class="fe fe-bell mr-2" aria-hidden="true"></i>
    This service will be available <strong>privately</strong> at
    <span class="badge badge-primary text-lg">
        <span class="tag-addon-left"><i class="fa fa-lock"></i></span>
        <span id="service-name-tag">{{ service.name }}</span>:9000</span>
</div>

<hr class="my-6" />

{% set volume = volumes.other.remove('root') %}
{% include '@Dashtainer/project/service/snippets/volume-root.html.twig' with {'volume': volume} %}

<hr class="my-6" />

<h4 class="mb-3">Additional Tools</h4>

<div class="row mb-3">
    <div class="col">
        <label class="form-label text-uppercase">Composer</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input"
                               id="composer"
                               value="1" disabled checked />
                        <label class="custom-control-label"
                               for="composer">Enabled</label>
                    </div>
                </div>
            </div>
            <div class="form-control">
                Composer is available as a system service at <code>$ composer</code>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <label class="form-label text-uppercase"
               for="xdebug">Xdebug</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input"
                               value="1"
                               id="xdebug" name="xdebug"
                               {{ xdebug ? 'checked' }} />
                        <label class="custom-control-label"
                               for="xdebug">Enable</label>
                    </div>
                </div>
            </div>
            <div class="form-control">
                <p>Xdebug is installed but <strong>disabled</strong> by default. You must
                    select <em>Enable</em> to the left to enable it.</p>
                <p><code>xdebug</code> will be available via CLI as <code>$ xdebug</code>.
                    For example, you can use the following to debug your programs via
                    CLI:</p>
                <p><code>docker container exec -it dash_php_1 xdebug foo.php</code></p>
                <p>You can edit INI values in the <strong>Common INI Settings</strong>
                    section below.</p>
                <p>On Linux? Change the <code>XDEBUG_REMOTE_HOST</code> value
                    <code>host.docker.internal</code> to your host IP.
                    I have found <code>172.17.0.1</code> to work in most cases.</p>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <label class="form-label text-uppercase"
               for="blackfire-install">Blackfire</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input"
                               value="1" id="blackfire-install"
                               {{ blackfire.install ? 'checked' }}
                               name="blackfire[install]" />
                        <label class="custom-control-label"
                               for="blackfire-install">Install</label>
                    </div>
                </div>
            </div>
            <div class="form-control">
                <div class="row">
                    <div class="form-group col">
                        <label class="form-label"
                               for="blackfire-server_id">Blackfire Server ID</label>
                        <input type="text" class="form-control" maxlength="64"
                               id="blackfire-server_id" name="blackfire[server_id]"
                               placeholder="" value="{{ blackfire.server_id }}"
                               data-error-container="blackfire-server_id" />
                        <div class="invalid-feedback"
                             data-error-container-name="blackfire-server_id"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col">
                        <label class="form-label"
                               for="blackfire-server_token">Blackfire Server Token</label>
                        <input type="text" class="form-control" maxlength="64"
                               id="blackfire-server_token" name="blackfire[server_token]"
                               placeholder="" value="{{ blackfire.server_token }}"
                               data-error-container="blackfire-server_token" />
                        <div class="invalid-feedback"
                             data-error-container-name="blackfire-server_token"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="my-6" />

<div class="page-header mb-0" id="ini">
    <div class="d-flex align-items-end w-100">
        <div class="p-2 w-100">
            <h1 class="page-title">
                Common INI Settings
            </h1>
        </div>

        <div class="p-2 flex-shrink-1">
            <a class="btn btn-outline-success"
               data-toggle="add-element"
               data-target="#ini-container"
               href="{{ path('project.service.php.ini.get', {
                  'projectId': service.project.id,
               }) }}"><i class="fe fe-plus"></i> Add INI Variable</a>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="table-responsive scrollable-container mb-5">
            <table class="table table-striped table-vcenter table-scroll table-sm">
                <thead class="bg-white">
                <tr>
                    <th class="w-auto">Environment Variable Name</th>
                    <th class="w-auto">Value</th>
                    <th class="w-1"></th>
                </tr>
                </thead>
                <tbody id="ini-container">
                <tr class="empty-table">
                    <td colspan="3">
                        To add an INI ENV Variable, click "Add INI Variable" above.
                    </td>
                </tr>
                {% for id, var in ini %}
                    {% include '@Dashtainer/project/service/php-fpm/ini.html.twig'
                        with {'id': id, 'var': var} %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="text-muted">
            <p>The above INI settings are set by environment variables, and are only a small
                subset of all pre-defined PHP INI environment variables.
                <a href="https://github.com/jtreminio/php-docker#ini-through-environment-variables"
                   target="_blank">Click here for more information and to see default values
                    of all settings</a>.
                To add more, click the "Add INI Variable" button above, and create a new INI
                file to the Config Files section under Advanced Settings below.
            </p>

            <p>Custom INI files should point to <code>/etc/php/cli-custom.ini</code>
                for CLI, and <code>/etc/php/fpm-custom.ini</code> for FPM.
            </p>
        </div>
    </div>
</div>

<input type="hidden" id="version" name="version" value="{{ service.version }}" />
{% endblock %}
