{% extends '@Dashtainer/template.html.twig' %}

{% block content %}
<div class="container py-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index.get') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('project.index.get') }}">Projects</a></li>
            <li class="breadcrumb-item"><a href="{{ path('project.view.get', {
                    'projectId': project.id,
                }) }}">{{ project.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">PHP-FPM: {{ service.name }}</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="text-center">
        <h2>PHP-FPM: {{ service.name }}</h2>
    </div>

    <form class="mb-5" action="{{ path('project.service.update.post', {
        'projectId': project.id,
        'serviceId': service.id,
    }) }}" method="post" data-ajax>
        {% include '@Dashtainer/project/service/snippets/_project_files_update.html.twig' %}

        <h4 class="mb-3">Packages</h4>

        <div class="row">
            <div class="form-group col">
                <label for="php-packages">PHP Packages</label>
                <select class="form-control" id="php-packages" name="php_packages[]"
                        multiple data-error-container="php-packages" data-selectize-tags>
                    {% for package in phpPackagesSelected %}
                        <option value="{{ package }}" selected>{{ package }}</option>
                    {% endfor %}
                    {% for package in availablePhpPackages %}
                        <option value="{{ package }}">{{ package }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback" data-error-container-name="php-packages"></div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col">
                <label for="pear-packages">PEAR Packages</label>
                <select class="form-control" id="pear-packages" name="pear_packages[]"
                        multiple data-error-container="pear-packages" data-selectize-tags>
                    {% for package in pearPackagesSelected %}
                        <option value="{{ package }}" selected>{{ package }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback" data-error-container-name="pear-packages"></div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col">
                <label for="pecl-packages">PECL Packages</label>
                <select class="form-control" id="pecl-packages" name="pecl_packages[]"
                        multiple data-error-container="pecl-packages" data-selectize-tags>
                    {% for package in peclPackagesSelected %}
                        <option value="{{ package }}" selected>{{ package }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback" data-error-container-name="pecl-packages"></div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col">
                <label for="system-packages">System Packages</label>
                <select class="form-control" id="system-packages" name="system_packages[]"
                        multiple data-error-container="system-packages" data-selectize-tags>
                    {% for package in systemPackagesSelected %}
                        <option value="{{ package }}" selected>{{ package }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback" data-error-container-name="system-packages"></div>
            </div>
        </div>

        <hr class="mb-4" />

        <h4 class="mb-3">Config Files</h4>

        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link"
                           data-toggle="add-block"
                           aria-controls="#nav-file-content"
                           href="{{ path('project.service.block-add-file.get', {
                               'projectId': project.id,
                               'language': 'ini',
                           }) }}">
                            <i class="fa fa-plus"></i> Add</a>
                    </li>
                    {% for key, value in configFiles %}
                        <li class="nav-item {{ loop.first ? 'active' }}">
                            <a id="nav-{{ key }}-tab" class="nav-link {{ loop.first ? 'active' }}"
                               data-toggle="tab" role="tab"
                               href="#file-{{ key }}" aria-controls="file-{{ key }}"
                               aria-selected="{{ loop.first ? 'true' : 'false' }}">{{ key }}</a>
                        </li>
                    {% endfor %}

                    {% for file in customFiles %}
                        <li class="nav-item">
                            <a id="nav-custom_file-{{ file.id }}-tab"
                               class="nav-link"
                               data-toggle="tab" href="#custom_file-{{ file.id }}"
                               role="tab" aria-controls="custom_file-{{ file.id }}"
                               aria-selected="{{ loop.first ? 'true' : 'false' }}">{{ file.name }}</a>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default"
                                        data-toggle="delete-block"
                                        data-target="#custom_file-{{ file.id }}">
                                    <i class="fa fa-close"></i></button>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div id="nav-file-content" class="tab-content">
                    {% for key, value in configFiles %}
                        <div id="file-{{ key }}" role="tabpanel"
                             class="tab-pane fade {{ loop.first ? 'show active' }}">
                            <div class="row">
                                <div class="col">
                                    <pre class="language-{{ value.highlight ?? 'ini' }}" data-code-highlight><code
                                            id="file-{{ key }}-source"
                                            contenteditable autocorrect="off" autocapitalize="off"
                                            spellcheck="false">{{ value.data }}</code></pre>
                                    <input type="hidden" value="" name="file[{{ key }}]"
                                           data-error-container="file-ini"
                                           data-get-value-source="file-{{ key }}-source" />
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {% for file in customFiles %}
                        <div id="custom_file-{{ file.id }}"
                             class="tab-pane fade"
                             role="tabpanel">
                            <div class="row">
                                <div class="form-group col">
                                    <label for="custom_file-{{ file.id }}-filename">Filename</label>
                                    <input type="text" class="form-control" maxlength="255"
                                           id="custom_file-{{ file.id }}-filename"
                                           name="custom_file[{{ file.id }}][filename]"
                                           placeholder="" value="{{ file.name }}"
                                           data-update-text="nav-custom_file-{{ file.id }}-tab"
                                           data-mask-type="filename"
                                           data-error-container="custom_file" />
                                    <small class="text-muted">
                                        Save config into this local file.
                                    </small>
                                </div>

                                <div class="form-group col">
                                    <label for="custom_file-{{ file.id }}-target">Target Path</label>
                                    <input type="text" class="form-control" maxlength="255"
                                           id="custom_file-{{ file.id }}-target"
                                           name="custom_file[{{ file.id }}][target]"
                                           placeholder="" value="{{ file.target }}"
                                           data-error-container="custom_file" />
                                    <small class="text-muted">
                                        Make file available inside container at this location.
                                    </small>
                                </div>

                                <div class="col-12">
                                    <pre class="language-ini" data-code-highlight><code
                                            contenteditable autocorrect="off" autocapitalize="off"
                                            spellcheck="false"
                                            id="custom_file-{{ file.id }}-data">{{ file.data }}</code></pre>
                                    <input type="hidden" value="" name="custom_file[{{ file.id }}][data]"
                                           data-error-container="custom_file"
                                           data-get-value-source="custom_file-{{ file.id }}-data" />
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
                     data-error-container-name="file-ini"></div>
            </div>
        </div>

        <hr class="mb-4" />

        <h4 class="mb-3">Additional Tools</h4>
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs mb-3" role="tablist">
                    <li class="nav-item active">
                        <a id="nav-addons-composer-tab" class="nav-item nav-link active"
                           data-toggle="tab" role="tab"
                           href="#addons-composer"
                           aria-selected="true">Composer</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-addons-xdebug-tab" class="nav-item nav-link"
                           data-toggle="tab" role="tab"
                           href="#addons-xdebug"
                           aria-selected="false">Xdebug</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-addons-blackfire-tab" class="nav-item nav-link"
                           data-toggle="tab" role="tab"
                           href="#addons-blackfire"
                           aria-selected="false">Blackfire</a>
                    </li>
                </ul>
                <div id="nav-addons-content" class="tab-content">
                    <div id="addons-composer" role="tabpanel"
                         class="tab-pane fade show active">
                        <div class="row">
                            <div class="form-group col">
                                <div class="custom-control custom-checkbox lg">
                                    <input type="checkbox" class="custom-control-input"
                                           value="1" {{ composer.install ? 'checked' }}
                                           id="composer-install" name="composer[install]">
                                    <label class="custom-control-label" for="composer-install">
                                        Install Composer</label>
                                </div>
                                <small class="text-muted">
                                    Composer will be available as a system service as
                                    <code>$ composer</code>
                                </small>
                            </div>
                        </div>
                    </div>

                    <div id="addons-xdebug" role="tabpanel"
                         class="tab-pane fade">
                        <div class="row">
                            <div class="form-group col">
                                <div class="custom-control custom-checkbox lg">
                                    <input type="checkbox" class="custom-control-input"
                                           value="1" {{ xdebug.install ? 'checked' }}
                                           id="xdebug-install" name="xdebug[install]">
                                    <label class="custom-control-label" for="xdebug-install">
                                        Install Xdebug</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="alert alert-primary" role="alert">
                                    On <strong>Windows</strong>? Change
                                    <code>docker.for.mac.host.internal</code> below to
                                    <code>docker.for.win.host.internal</code>
                                </div>
                                <div class="alert alert-secondary" role="alert">
                                    On <strong>Linux</strong>? Change
                                    <code>docker.for.mac.host.internal</code> below to
                                    <code>localhost</code>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <pre class="language-ini" data-code-highlight><code
                                        contenteditable autocorrect="off" autocapitalize="off"
                                        spellcheck="false"
                                        id="xdebug-ini">{{ xdebug.ini }}</code></pre>
                                <input type="hidden" value="" name="xdebug[ini]"
                                       data-error-container="additional-tools"
                                       data-get-value-source="xdebug-ini" />
                            </div>
                        </div>
                    </div>

                    <div id="addons-blackfire" role="tabpanel"
                         class="tab-pane fade">
                        <div class="row">
                            <div class="form-group col">
                                <div class="custom-control custom-checkbox lg">
                                    <input type="checkbox" class="custom-control-input"
                                           value="1" {{ blackfire.install ? 'checked' }}
                                           id="blackfire-install" name="blackfire[install]">
                                    <label class="custom-control-label" for="blackfire-install">
                                        Install Blackfire</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col">
                                <label for="blackfire-server_id">Blackfire Server ID</label>
                                <input type="text" class="form-control" maxlength="64"
                                       id="blackfire-server_id" name="blackfire[server_id]"
                                       placeholder="" value="{{ blackfire.server_id }}"
                                       data-error-container="additional-tools" />
                            </div>

                            <div class="form-group col">
                                <label for="blackfire-server_token">Blackfire Server Token</label>
                                <input type="text" class="form-control" maxlength="64"
                                       id="blackfire-server_token" name="blackfire[server_token]"
                                       placeholder="" value="{{ blackfire.server_token }}"
                                       data-error-container="additional-tools" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
                     data-error-container-name="additional-tools"></div>
            </div>
        </div>

        <hr class="mb-4" />

        <input type="hidden" id="version" name="version" value="{{ version }}" />

        <button class="btn btn-primary btn-lg btn-block" type="submit">Update Service</button>

        <p class="my-3"><a href="#" data-toggle="modal"
              data-target="#service-delete-modal">Delete service</a></p>
    </form>
</div>

<div class="modal fade" id="service-delete-modal" tabindex="-1" role="dialog"
     aria-labelledby="service-delete-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="service-delete-modal-title">Delete this service?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('project.service.delete.post', {
                    'projectId': project.id,
                    'serviceId': service.id,
                }) }}"
                  method="post" data-ajax>
                <div class="modal-body">
                    <p>This will also delete all files attached to this service.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Yes, delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
