{% extends '@Dashtainer/template.html.twig' %}

{% set availableAsSecret = '<i class="fa fa-key" aria-hidden="true"
   data-toggle="tooltip" data-html="true"
   title="This will be available as a Docker Secret to other services."></i>' %}

{% block breadcrumb %}
<div class="header d-lg-flex p-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0">
                        <li class="breadcrumb-item"><a href="{{ path('project.index.get') }}">
                                Projects</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('project.view.get', {
                                'projectId': project.id,
                            }) }}">{{ project.name }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Create {{ serviceType.name }} Service</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row" data-sticky-container>
    <div class="col-lg-3 order-lg-0 mb-4">
        <div data-sticky>
            <a href="{{ path('project.view.get', {
                    'projectId': project.id
                }) }}" class="btn btn-block btn-primary mb-6">
                <i class="fe fe-arrow-left mr-2"></i>Back to Project
            </a>

            <div class="list-group list-group-transparent mb-0 text-right">
                <a class="list-group-item list-group-item-action"
                   href="#service">Service Settings <i class="fe fe-corner-up-right"></i></a>
                <a class="list-group-item list-group-item-action"
                   href="#file">Config Files <i class="fe fe-corner-down-right"></i></a>
                <a class="list-group-item list-group-item-action"
                   href="#network">Networks <i class="fe fe-corner-down-right"></i></a>
                <a class="list-group-item list-group-item-action"
                   href="#secret">Secrets <i class="fe fe-corner-down-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-9" id="service">
        <div class="page-header mt-0 mb-2">
            <div class="d-flex align-items-end w-100">
                <h1 class="page-title">Create {{ serviceType.name }} Service</h1>
            </div>
        </div>

        {% block serviceContent %}{% endblock %}
    </div>
</div>

{% include '@Dashtainer/project/snippets/service_create.html.twig' %}
{% endblock %}
