{% extends '@Dashtainer/template.html.twig' %}

{% block content %}
<div class="container py-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index.get') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('project.index.get') }}">Projects</a></li>
            <li class="breadcrumb-item"><a href="{{ path('project.view.get', {
                    'projectId': project.id,
                }) }}">{{ project.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Services</li>
        </ol>
    </nav>
</div>

<div class="container">
    <p>Services:</p>
    {% for service in project.services %}
        <p><a href="{{ path('project.service.view.get', {
                'projectId': project.id,
                'serviceId': service.id,
            }) }}">{{ service.name }}</a></p>
    {% endfor %}

    {% if project.services is empty %}
        <p>You have no services.</p>
    {% endif %}

    <button class="btn btn-primary" type="button" data-toggle="collapse" aria-expanded="false"
            data-target="#services-list" aria-controls="services-list">
        Create a new service
    </button>

    <hr />

    <div class="collapse" id="services-list">
        {% include '@Dashtainer/project/snippets/service_create.html.twig' %}
    </div>
</div>
{% endblock %}
