{% extends '@Dashtainer/template.html.twig' %}

{% set availableAsSecret = '<i class="fa fa-key" aria-hidden="true"
   data-toggle="tooltip" data-html="true"
   title="This is available as a Docker Secret to other services."></i>' %}

{% block breadcrumb %}
<div class="header d-lg-flex p-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0">
                        <li class="breadcrumb-item"><a href="{{ path('project.index.get') }}">
                                Projects</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('project.view.get', {
                                'projectId': project.id,
                            }) }}">{{ project.name }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Update {{ service.type.name }} Service</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row" data-sticky-container>
    <div class="col-lg-3 order-lg-0 mb-4">
        <div data-sticky>
            <a href="{{ path('project.view.get', {
                    'projectId': project.id
                }) }}" class="btn btn-block btn-primary mb-6">
                <i class="fe fe-arrow-left mr-2"></i>Back to Project
            </a>

            <div class="list-group list-group-transparent mb-0 text-right">
                <a class="list-group-item list-group-item-action"
                   href="#service">Service Settings</a>
                <a class="list-group-item list-group-item-action"
                   href="#file">Config Files</a>
                <a class="list-group-item list-group-item-action"
                   href="#network">Networks</a>
                <a class="list-group-item list-group-item-action"
                   href="#secret">Secrets</a>
                <a class="list-group-item list-group-item-action"
                   href="#port">Mapped Ports</a>
                <a class="list-group-item list-group-item-action"
                   href="#volume-local">Local Volumes</a>
                <a class="list-group-item list-group-item-action"
                   href="#volume-docker">Docker Volumes</a>
            </div>
            <div class="list-group list-group-transparent mb-0">
                <a class="list-group-item list-group-item-action text-danger"
                   data-toggle="modal" data-target="#service-delete-modal"
                   href="#"><span class="icon mr-3"><i class="fe fe-delete"></i></span>
                    Delete Service</a>
            </div>
        </div>
    </div>

    <div class="col-lg-9" id="service">
        <div class="page-header mt-0 mb-2">
            <div class="d-flex align-items-end w-100">
                <h1 class="page-title">Update {{ service.type.name }} Service</h1>
            </div>
        </div>

        <form action="{{ path('project.service.update.post', {
            'projectId': project.id,
            'serviceId': service.id,
        }) }}" method="post" data-ajax>
            <div class="card">
                <div class="card-body">
                    {% block serviceContent %}{% endblock %}
                </div>
            </div>

            <div class="row">
                <div class="col mb-5">
                    <button class="btn btn-success btn-lg" type="button" data-toggle="collapse"
                            data-target="#advanced-options" aria-expanded="false"
                            aria-controls="advanced-options">
                        <i class="fe fe-settings" aria-hidden="true"></i>
                        Show Advanced Options
                    </button>
                </div>
            </div>

            <div class="collapse" id="advanced-options">
                {% include '@Dashtainer/project/service/snippets/volume-file.html.twig' %}
                {% include '@Dashtainer/project/service/snippets/network.html.twig' %}
                {% include '@Dashtainer/project/service/snippets/secret.html.twig' %}
                {% include '@Dashtainer/project/service/snippets/port.html.twig' %}
                {% include '@Dashtainer/project/service/snippets/volume.html.twig' %}
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">Update Service</button>
        </form>
    </div>
</div>

{% include '@Dashtainer/project/service/snippets/delete.html.twig' %}
{% endblock %}
