{% extends '@Dashtainer/template.html.twig' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ path('project.index.get') }}">Projects</a></li>
<li class="breadcrumb-item"><a href="{{ path('project.view.get', {
        'projectId': project.id,
    }) }}">{{ project.name }}</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="{{ path('project.view.get', {
        'projectId': project.id,
    }) }}">Services</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="{{ path('project.service.view.get', {
        'projectId': project.id,
        'serviceId': service.id
    }) }}">{{ service.name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Update</li>
{% endblock %}
