{% extends '@Dashtainer/template.html.twig' %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body text-wrap">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs mb-3" data-steps-list>
                            <li class="col nav-item complete">
                                <a class="nav-link" href="{{ path('project.view.get', {
                                    'projectId': service.project.id
                                }) }}">Step 1<br />
                                    <span class="small">View Project</span></a>
                            </li>
                            <li class="col nav-item active">
                                <a class="nav-link" href="#">Step 2<br />
                                    <span class="small">Viewing Service</span></a>
                            </li>
                            <li class="col nav-item {{ service.project.services is not empty ? 'complete' }}">
                                <a class="nav-link"
                                    {% if service.project.services is not empty %}
                                        href="{{ path('project.download.get', {'projectId': service.project.id}) }}
                                    {% endif %}">Step 3<br />
                                    <span class="small">Download Project</span></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col pt-3 px-3 pb-0">
                        Viewing this amazing service
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="list-group-transparent mb-5">
            <div class="d-flex flex-row hor-menu">
                <a href="{{ path('project.service.update.get', {
                    'projectId': service.project.id,
                    'serviceId': service.id,
                }) }}" class="list-group-item"><span
                        class="icon mr-3"><i class="fe fe-edit"></i></span>Edit Service</a>
                <a href="{{ path('project.view.get', {
                    'projectId': service.project.id
                }) }}" class="list-group-item"><span
                        class="icon mr-3"><i class="fe fe-list"></i></span>View Services</a>
                <a href="#" class="list-group-item"
                   data-toggle="modal" data-target="#service-create-modal"><span
                        class="icon mr-3"><i class="fe fe-plus"></i></span>Create New Service</a>
                <a href="#" class="list-group-item text-danger ml-auto" data-toggle="modal"
                   data-target="#service-delete-modal"><span
                        class="icon mr-3"><i class="fe fe-delete"></i></span>Delete Service</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        {% block serviceContent %}{% endblock %}
    </div>
</div>

{% include '@Dashtainer/project/snippets/service_create.html.twig' with {'project': service.project} %}
{% include '@Dashtainer/project/service/snippets/delete.html.twig' %}
{% endblock %}
