{% extends '@Dashtainer/project/service/create.html.twig' %}

{% block serviceContent %}
<form class="card" action="{{ path('project.service.create.post', {
    'projectId': project.id,
    'serviceTypeSlug': serviceType.slug,
}) }}" method="post" data-ajax>
    <div class="card-body">
        <div class="row">
            <div class="form-group col">
                <label class="form-label" for="name">Service Name</label>
                <input type="text" class="form-control" maxlength="64"
                       id="name" name="name" placeholder=""
                       value="{{ serviceName }}" required data-mask-type="dns"
                       data-update-text="service-name-tag,server-name-host"
                       data-error-container="name" />
                <div class="invalid-feedback" data-error-container-name="name"></div>
            </div>
        </div>

        <div class="alert alert-icon alert-info mb-6" role="alert">
            <i class="fe fe-bell mr-2" aria-hidden="true"></i>
            This service will be available <strong>privately</strong> at
            <span class="badge badge-primary text-lg">
                <span class="tag-addon-left"><i class="fa fa-lock"></i></span>
                <span id="service-name-tag">{{ serviceName }}</span>:80</span>

            and <strong>publicly</strong> at
            <span class="badge badge-primary text-lg">
                <span class="tag-addon-left"><i class="fa fa-unlock"></i></span>
                http://<span id="server-name-host">adminer</span>.{{ project.slug }}.localhost</span>
        </div>

        <hr class="my-6" />

        {% include '@Dashtainer/project/service/snippets/networks_create.html.twig' %}

        <hr class="my-6" />

        <h4 class="mb-3">Settings</h4>

        {% set designs = serviceType.meta('designs') %}
        <div class="row">
            <div class="form-group col">
                <label class="form-label" for="design">Design</label>
                <select class="form-control" id="design" name="design"
                        data-error-container="design" data-selectize-tags>
                    {% for design in designs.data.available %}
                        <option value="{{ design }}">{{ design }}</option>
                    {% endfor %}
                    {% for design in designs.data.default %}
                        <option value="{{ design }}" selected>{{ design }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback" data-error-container-name="design"></div>
                <small class="text-muted">
                    Design list
                    <a href="https://github.com/vrana/adminer/tree/master/designs"
                       target="_blank">available here</a>.
                </small>
            </div>
        </div>

        {% set plugins = serviceType.meta('plugins') %}
        <div class="row">
            <div class="form-group col">
                <label class="form-label" for="plugins">Plugins</label>
                <select class="form-control" id="plugins" name="plugins[]"
                        multiple data-error-container="plugins" data-selectize-tags>
                    {% for plugin in plugins.data.available %}
                        <option value="{{ plugin }}">{{ plugin }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback" data-error-container-name="plugins"></div>
                <small class="text-muted">
                    Plugins list
                    <a href="https://github.com/vrana/adminer/tree/master/plugins"
                       target="_blank">available here</a>.
                    Some plugins require config files, make sure to create them below and
                    follow <a href="https://hub.docker.com/_/adminer/"
                                 target="_blank">"Loading plugins" instructions from here</a>.
                </small>
            </div>
        </div>

        <hr class="my-6" />

        <h4 class="mb-3">Config Files</h4>

        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link"
                           data-toggle="add-block"
                           aria-controls="#nav-file-content"
                           href="{{ path('project.service.block-add-file.get', {
                               'projectId': project.id,
                               'language': 'php',
                               'targetPath': '/var/www/html/plugins-enabled/'|url_encode
                           }) }}">
                            <i class="fe fe-plus"></i> Add</a>
                    </li>
                </ul>

                <div id="nav-file-content" class="tab-content">
                </div>

                <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
                     data-error-container-name="custom_file"></div>
            </div>
        </div>

        <hr class="my-6" />

        <button class="btn btn-primary btn-lg btn-block" type="submit">Create Service</button>
    </div>
</form>
{% endblock %}
