{% extends '@Dashtainer/project/service/update.html.twig' %}

{% block serviceContent %}
<form class="card" action="{{ path('project.service.update.post', {
    'projectId': project.id,
    'serviceId': service.id,
}) }}" method="post" data-ajax>
    <div class="card-body">
        <div class="alert alert-icon alert-info mb-6" role="alert">
            <i class="fe fe-bell mr-2" aria-hidden="true"></i>
            This service is available <strong>privately</strong> at
            <span class="badge badge-primary text-lg">
                <span class="tag-addon-left"><i class="fa fa-lock"></i></span>
                <span id="service-name-tag">{{ service.name }}</span>:80</span>

            and <strong>publicly</strong> at
            <span class="badge badge-primary text-lg">
                <span class="tag-addon-left"><i class="fa fa-unlock"></i></span>
                http://<span id="server-name-host">{{ service.name }}</span>.{{ project.slug }}.localhost</span>
        </div>

        {% include '@Dashtainer/project/service/snippets/networks_update.html.twig' %}

        <hr class="my-6" />

        <h4 class="mb-3">Settings</h4>

        <div class="row">
            <div class="form-group col">
                <label class="form-label" for="design">Design</label>
                <select class="form-control" id="design" name="design"
                        data-error-container="design" data-selectize-tags>
                    <option value="{{ design }}" selected>{{ design }}</option>
                    {% for available in availableDesigns %}
                        <option value="{{ available }}">{{ available }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback" data-error-container-name="design"></div>
                <small class="text-muted">
                    Design list
                    <a href="https://github.com/vrana/adminer/tree/master/designs"
                       target="_blank">available here</a>.
                </small>
            </div>
        </div>

        <div class="row">
            <div class="form-group col">
                <label class="form-label" for="plugins">Plugins</label>
                <select class="form-control" id="plugins" name="plugins[]"
                        multiple data-error-container="plugins" data-selectize-tags>
                    {% for available in availablePlugins %}
                        <option value="{{ available }}">{{ available }}</option>
                    {% endfor %}
                    {% for plugin in plugins %}
                        <option value="{{ plugin }}" selected>{{ plugin }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback" data-error-container-name="plugins"></div>
                <small class="text-muted">
                    Plugins list
                    <a href="https://github.com/vrana/adminer/tree/master/plugins"
                       target="_blank">available here</a>.
                    Some plugins require config files, make sure to create them below and
                    follow <a href="https://hub.docker.com/_/adminer/"
                                 target="_blank">"Loading plugins" instructions from here</a>.
                </small>
            </div>
        </div>

        <hr class="my-6" />

        <h4 class="mb-3">Config Files</h4>

        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link"
                           data-toggle="add-block"
                           aria-controls="#nav-file-content"
                           href="{{ path('project.service.block-add-file.get', {
                               'projectId': project.id,
                               'language': 'php',
                               'targetPath': '/var/www/html/plugins-enabled/'|url_encode
                           }) }}">
                            <i class="fe fe-plus"></i> Add</a>
                    </li>
                    {% for file in userFiles %}
                        <li class="nav-item {{ loop.first ? 'active' }}">
                            <a id="nav-user_file-{{ file.id }}-tab"
                               class="nav-link {{ loop.first ? 'active' }}"
                               data-toggle="tab" href="#user_file-{{ file.id }}"
                               role="tab" aria-controls="user_file-{{ file.id }}"
                               aria-selected="{{ loop.first ? 'true' : 'false' }}">{{ file.name }}</a>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default"
                                        data-toggle="delete-block"
                                        data-target="#user_file-{{ file.id }}">
                                    <i class="fa fa-close"></i></button>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <div id="nav-file-content" class="tab-content">
                    {% for file in userFiles %}
                        <div id="user_file-{{ file.id }}"
                             class="tab-pane fade {{ loop.first ? 'show active' }}"
                             role="tabpanel">
                            <div class="row">
                                <div class="form-group col">
                                    <label class="form-label"
                                           for="user_file-{{ file.id }}-filename">Filename</label>
                                    <input type="text" class="form-control" maxlength="255"
                                           id="user_file-{{ file.id }}-filename"
                                           name="user_file[{{ file.id }}][filename]"
                                           placeholder="" value="{{ file.name }}"
                                           data-update-text="nav-user_file-{{ file.id }}-tab"
                                           data-mask-type="filename"
                                           data-error-container="user_file-error" />
                                    <small class="text-muted">
                                        Save config into this local file.
                                    </small>
                                </div>

                                <div class="form-group col">
                                    <label class="form-label"
                                           for="user_file-{{ file.id }}-target">Target Path</label>
                                    <input type="text" class="form-control" maxlength="255"
                                           id="user_file-{{ file.id }}-target"
                                           name="user_file[{{ file.id }}][target]"
                                           placeholder="" value="{{ file.target }}"
                                           data-error-container="user_file-error" />
                                    <small class="text-muted">
                                        Make file available inside container at this location.
                                    </small>
                                </div>

                                <div class="col-12">
                                    <pre class="language-php" data-code-highlight><code
                                            contenteditable autocorrect="off" autocapitalize="off"
                                            spellcheck="false"
                                            id="user_file-{{ file.id }}-data">{{ file.data }}</code></pre>
                                    <input type="hidden" value="" name="user_file[{{ file.id }}][data]"
                                           data-error-container="user_file-error"
                                           data-get-value-source="user_file-{{ file.id }}-data" />
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
                     data-error-container-name="user_file-error"></div>
            </div>
        </div>

        <hr class="my-6" />

        <div class="d-flex justify-content-between">
            <a href="{{ path('project.view.get', {
                'projectId': project.id
            }) }}" class="btn btn-secondary btn-lg">Cancel</a>
            <button class="btn btn-primary btn-lg" type="submit">Update Service</button>
        </div>
    </div>
</form>
{% endblock %}
