{% extends '@Dashtainer/template.html.twig' %}

{% block content %}
<div class="container py-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index.get') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('project.index.get') }}">Projects</a></li>
            <li class="breadcrumb-item"><a href="{{ path('project.view.get', {
                    'projectId': project.id,
                }) }}">{{ project.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">MariaDB: {{ service.name }}</li>
        </ol>
    </nav>
</div>

<div class="container">
    <p>Service details:</p>

    <p>ID: {{ service.id }}</p>
    <p>Name: {{ service.name }}</p>
    <p><a href="{{ path('project.service.update.get', {
            'projectId': project.id,
            'serviceId': service.id,
        }) }}">Edit service</a></p>
</div>
{% endblock %}
