{% trans_default_domain 'FOSUserBundle' %}

<form class="card fos_user_registration_register"
      id="{{ form.vars.id }}" name="{{ form.vars.name }}"
      action="{{ path('fos_user_registration_register') }}" method="post">

    <div class="card-body px-6 pt-6 pb-0">
        <div class="card-title">{{ 'register.create'|trans }}</div>
        {{ form_widget(form._token) }}

        <div class="form-group">
            {{ form_label(form.email, 'register.email_address', {
                'label_attr': {'class': 'form-label'}
            }) }}

            {{ form_widget(form.email, {'attr': {
                'class': 'form-control',
                'placeholder': 'register.enter_email',
            }}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.plainPassword.first, 'register.password', {
                'label_attr': {'class': 'form-label'}
            }) }}

            {{ form_widget(form.plainPassword.first, {'attr': {
                'class': 'form-control',
                'placeholder': 'register.enter_password',
            }}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.plainPassword.second, 'register.confirm_password', {
                'label_attr': {'class': 'form-label'}
            }) }}

            {{ form_widget(form.plainPassword.second, {'attr': {
                'class': 'form-control',
                'placeholder': 'register.confirm_password',
            }}) }}
        </div>
    </div>

    {% if not form.vars.valid %}
        <div class="card-alert alert alert-danger mt-6 mb-0">
            {% for error in form.vars.errors %}
                * {{ error.message }}<br />
            {% endfor %}
            {% for error in form.email.vars.errors %}
                * {{ error.message }}<br />
            {% endfor %}
            {% for error in form.plainPassword.first.vars.errors %}
                * {{ error.message }}<br />
            {% endfor %}
            {% for error in form.plainPassword.second.vars.errors %}
                * {{ error.message }}<br />
            {% endfor %}
        </div>
    {% endif %}

    <div class="card-body pt-0 border-top-0">
        <div class="form-footer">
            <button type="submit" class="btn btn-primary btn-block">{{ 'register.create'|trans }}</button>
        </div>
    </div>
</form>

<div class="text-center text-muted">
    {{ 'register.already_have'|trans }}
    <a href="{{ path('fos_user_security_login') }}">{{ 'register.sign_in'|trans }}</a>
</div>
