{% extends '@Dashtainer/project/service/create.html.twig' %}

{% block serviceContent %}
<div class="row">
    <div class="form-group col">
        <label class="form-label" for="name">Service Name</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">{{ availableAsSecret|raw }}</span>
            </div>
            <input type="text" class="form-control" maxlength="64"
                   id="name" name="name" placeholder=""
                   value="{{ service.name }}" required data-mask-type="dns"
                   data-update-text="service-name-tag"
                   data-error-container="name" />
        </div>
        <div class="invalid-feedback" data-error-container-name="name"></div>
    </div>
</div>

<div class="alert alert-icon alert-info mb-6" role="alert">
    <i class="fe fe-bell mr-2" aria-hidden="true"></i>
    This service will be available <strong>privately</strong> at
    <span class="badge badge-primary text-lg">
        <span class="tag-addon-left"><i class="fa fa-lock"></i></span>
        <span id="service-name-tag">{{ service.name }}</span>:6379</span>
</div>

<div class="row mb-3">
    <div class="col">
        <label class="form-label"
               for="redis_commander">Redis Commander</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input"
                               value="1" id="redis_commander"
                               {{ redis_commander ? 'checked' }}
                               name="redis_commander" />
                        <label class="custom-control-label"
                               for="redis_commander">Install</label>
                    </div>
                </div>
            </div>
            <div class="form-control">
                Redis Commander will be available at
                <span class="badge badge-primary text-lg">
                    <span class="tag-addon-left"><i class="fa fa-unlock"></i></span>
                    http://<span id="service-name-tag">{{ service.name }}</span>.{{ service.project.slug }}.localhost</span>
                <br />Do not enable this on a public server.
            </div>
        </div>
    </div>
</div>

{% set secret = secrets.owned.remove('redis_host') %}
<input type="hidden" name="secrets[{{ secret.id }}][id]"
       value="{{ secret.id }}" />
<input type="hidden" name="secrets[{{ secret.id }}][name]"
       value="{{ secret.name }}" />
<input type="hidden" name="secrets[{{ secret.id }}][data]"
       value="{{ secret.projectSecret.data }}" />

<hr class="my-6" />

{% set volume = volumes.other.remove('datadir') %}
{% embed '@Dashtainer/project/service/snippets/volume-datadir.html.twig' with {'volume': volume} %}
    {% block dataDir %}
    {% endblock %}
{% endembed %}

<input type="hidden" id="version" name="version" value="{{ service.version }}" />
{% endblock %}
