{% extends '@Dashtainer/project/service/update.html.twig' %}

{% block serviceContent %}
<form class="card" action="{{ path('project.service.update.post', {
    'projectId': project.id,
    'serviceId': service.id,
}) }}" method="post" data-ajax>
    <div class="card-body">
        <div class="alert alert-icon alert-info mb-6" role="alert">
            <i class="fe fe-bell mr-2" aria-hidden="true"></i>
            This service is available <strong>privately</strong> at
            <span class="badge badge-primary text-lg">
                <span class="tag-addon-left"><i class="fa fa-lock"></i></span>
                <span id="service-name-tag">{{ service.name }}</span>:6379</span>
        </div>

        <hr class="my-6" />

        {% include '@Dashtainer/project/service/snippets/networks_update.html.twig' %}

        <hr class="my-6" />

        <h4 class="mb-3">Data Storage</h4>

        <div class="row">
            <div class="col">
                <div class="selectgroup" role="tablist">
                    <label class="selectgroup-item">
                        <input type="radio" class="selectgroup-input"
                               id="datastore-docker" name="datastore"
                               value="docker" {{ datastore == 'docker' ? 'checked' }} role="tab"
                               data-toggle="radio-tab" data-target="#datastore-docker-tab"
                               data-error-container="datastore" />
                        <span class="selectgroup-button selectgroup-button-icon px-7 py-3">
                            <i class="fe fe-anchor"></i> Docker</span>
                    </label>

                    <label class="selectgroup-item">
                        <input type="radio" class="selectgroup-input"
                               id="datastore-local" name="datastore"
                               value="local" {{ datastore == 'local' ? 'checked' }} role="tab"
                               data-toggle="radio-tab" data-target="#datastore-local-tab"
                               data-error-container="datastore" />
                        <span class="selectgroup-button selectgroup-button-icon px-7 py-3">
                            <i class="fe fe-hard-drive"></i> Local</span>
                    </label>
                </div>

                <div id="nav-datastore-content" class="tab-content">
                    <div id="datastore-docker-tab" role="tabpanel"
                         class="tab-pane {{ datastore == 'docker' ? 'show active' }}">
                        <div class="row">
                            <div class="form-group col">
                                <small class="text-muted">
                                    Let Docker manage the storage of your database data.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div id="datastore-local-tab" role="tabpanel"
                         class="tab-pane {{ datastore == 'local' ? 'show active' }}">
                        <div class="row">
                            <div class="form-group col">
                                <small class="text-muted">
                                    Create a data directory on the host system.
                                    The directory will be
                                    <code><span id="datastore-local-span">
                                            {{ service.name }}</span>/datadir</code>.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
                     data-error-container-name="datastore"></div>
            </div>
        </div>

        <hr class="my-6" />

        <input type="hidden" id="version" name="version" value="{{ version }}" />

        <div class="d-flex justify-content-between">
            <a href="{{ path('project.view.get', {
                'projectId': project.id
            }) }}" class="btn btn-secondary btn-lg">Cancel</a>
            <button class="btn btn-primary btn-lg" type="submit">Update Service</button>
        </div>
    </div>
</form>
