{% extends '@Dashtainer/template.html.twig' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ path('project.index.get') }}">Projects</a></li>
<li class="breadcrumb-item"><a href="{{ path('project.view.get', {
        'projectId': project.id,
    }) }}">{{ project.name }}</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="{{ path('project.service.index.get', {
        'projectId': project.id,
    }) }}">Services</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ service.name }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3 order-lg-1 mb-4">
        <div class="alert alert-primary text-center">
            Manage Service
        </div>
        <div class="list-group list-group-transparent mb-0">
            <a href="#"
               class="list-group-item list-group-item-action"><span
                    class="icon mr-3"><i class="fe fe-alert-triangle"></i></span>Edit Project</a>
            <a href="#"
               class="list-group-item list-group-item-action"><span
                    class="icon mr-3"><i class="fe fe-user"></i></span>Export Project</a>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="card">
            <div class="card-body">
                <div class="text-wrap p-lg-6">
                    <h3>{{ service.name }}</h3>

                    <p>ID: {{ service.id }}</p>
                    <p>Name: {{ service.name }}</p>
                    <p><a href="{{ path('project.service.update.get', {
                            'projectId': project.id,
                            'serviceId': service.id,
                        }) }}">Edit service</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
