<h4 class="mb-3">Grant Secrets</h4>

<div class="row">
    <div class="col">
        <hr class="my-0 mb-3" />

        {% if secrets.grantable is not empty %}
            <div class="alert alert-icon alert-warning" role="alert">
                <i class="fe fe-bell mr-2" aria-hidden="true"></i>
                Services must be granted access to Secrets to use them.
            </div>
        {% endif %}

        <div class="table-responsive scrollable-container">
            <table class="table table-striped table-vcenter table-scroll">
                <thead class="bg-white">
                <tr>
                    <th>Name</th>
                    <th>Owner</th>
                    <th class="w-50">Target Filename</th>
                    <th class="w-1"></th>
                </tr>
                </thead>
                <tbody id="grant_secrets-container">
                <tr class="empty-table">
                    <td colspan="3">
                        No other Services have any Secrets to share.
                    </td>
                </tr>
                {% for serviceSecret in secrets.granted %}
                    {% set projectSecret = serviceSecret.projectSecret %}
                    <tr id="grant_secrets-{{ projectSecret.id }}-row">
                        <td>{{ projectSecret.name }}</td>
                        <td><a class="text-blue" target="_blank"
                               href="{{ path('project.service.view.get', {
                                    'projectId': project.id,
                                    'serviceId': projectSecret.owner.id,
                                }) }}">{{ projectSecret.owner.name }}</a></td>
                        <td>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><em data-toggle="tooltip"
                                       title="Will be available at /run/secrets/{name}">/run/secrets/</em></span>
                                </div>
                                <input type="text" class="form-control" maxlength="64"
                                       id="grant_secrets-{{ projectSecret.id }}-target"
                                       name="grant_secrets[{{ projectSecret.id }}][target]" placeholder=""
                                       value="{{ serviceSecret.target }}" data-mask-type="secret"
                                       data-error-container="grant_secrets-{{ projectSecret.id }}-target-error" />
                            </div>

                            <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
                                 data-error-container-name="grant_secrets-{{ projectSecret.id }}-target-error"></div>
                        </td>
                        <td>
                            <div class="selectgroup">
                                <label class="selectgroup-item dark mb-0">
                                    <input type="checkbox" class="selectgroup-input"
                                           id="grant_secrets-{{ projectSecret.id }}-id"
                                           name="grant_secrets[{{ projectSecret.id }}][id]"
                                           value="{{ projectSecret.id }}" checked />
                                    <span class="selectgroup-button btn btn-outline-primary">Grant</span>
                                </label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                {% for projectSecret in secrets.grantable %}
                    <tr id="grant_secrets-{{ projectSecret.id }}-row">
                        <td>{{ projectSecret.name }}</td>
                        <td><a class="text-blue" target="_blank"
                               href="{{ path('project.service.view.get', {
                                    'projectId': project.id,
                                    'serviceId': projectSecret.owner.id,
                                }) }}">{{ projectSecret.owner.name }}</a></td>
                        <td>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><em data-toggle="tooltip"
                                       title="Will be available at /run/secrets/{name}">/run/secrets/</em></span>
                                </div>
                                <input type="text" class="form-control" maxlength="64"
                                       id="grant_secrets-{{ projectSecret.id }}-target"
                                       name="grant_secrets[{{ projectSecret.id }}][target]" placeholder=""
                                       value="" data-mask-type="secret"
                                       data-error-container="grant_secrets-{{ projectSecret.id }}-target-error" />
                            </div>

                            <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
                                 data-error-container-name="grant_secrets-{{ projectSecret.id }}-target-error"></div>
                        </td>
                        <td>
                            <div class="selectgroup">
                                <label class="selectgroup-item dark mb-0">
                                    <input type="checkbox" class="selectgroup-input"
                                           id="grant_secrets-{{ projectSecret.id }}-id"
                                           name="grant_secrets[{{ projectSecret.id }}][id]"
                                           value="{{ projectSecret.id }}" />
                                    <span class="selectgroup-button btn btn-outline-primary">Grant</span>
                                </label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
