<tr id="owned_secrets-{{ id }}-row">
    <td>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><em data-toggle="tooltip"
                   title="Will be available at /run/secrets/{name}">/run/secrets/</em></span>
            </div>
            <input type="text" class="form-control" maxlength="64"
                   id="owned_secrets-{{ id }}-name"
                   name="owned_secrets[{{ id }}][name]" placeholder=""
                   value="" required data-mask-type="secret"
                   data-error-container="owned_secrets-{{ id }}-name-error" />
        </div>

        <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
             data-error-container-name="owned_secrets-{{ id }}-name-error"></div>
    </td>
    <td>
        <input type="text" class="form-control" maxlength="255"
               id="owned_secrets-{{ id }}-contents"
               name="owned_secrets[{{ id }}][contents]"
               placeholder="" value="" />
    </td>
    <td class="td-action">
        <div class="selectgroup" data-toggle="delete-element"
             data-target="#owned_secrets-{{ id }}-row">
            <label class="selectgroup-item dark mb-0">
                <span class="btn btn-outline-danger">
                    <i class="fe fe-x-square" aria-hidden="true"></i>
                    Delete
                </span>
            </label>
        </div>
    </td>
</tr>
