<tr id="secrets-{{ secret.id }}-row">
    <td>
        <input type="hidden" name="secrets[{{ secret.id }}][id]"
               value="{{ secret.id }}" />

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><em data-toggle="tooltip"
                   title="Will be available at /run/secrets/{name}">/run/secrets/</em></span>
            </div>
            <input type="text" class="form-control" maxlength="64"
                   id="secrets-{{ secret.id }}-name"
                   name="secrets[{{ secret.id }}][name]" placeholder=""
                   value="{{ secret.name }}" required data-mask-type="secret"
                   data-error-container="secrets-{{ secret.id }}-name-error" />
        </div>

        <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
             data-error-container-name="secrets-{{ secret.id }}-name-error"></div>
    </td>
    <td>
        <input type="text" class="form-control" maxlength="255"
               id="secrets-{{ secret.id }}-data"
               name="secrets[{{ secret.id }}][data]"
               placeholder="" value="{{ secret.projectSecret.data}}" />
    </td>
    <td class="td-action">
        <div class="selectgroup" data-toggle="delete-element"
             data-target="#secrets-{{ secret.id }}-row">
            <label class="selectgroup-item dark mb-0">
                <span class="btn btn-outline-danger">
                    <i class="fe fe-x-square" aria-hidden="true"></i>
                    Delete
                </span>
            </label>
        </div>
    </td>
</tr>
