<tr id="secrets_granted-{{ secret.id }}-row">
    <td>
        <input type="hidden" name="secrets_granted[{{ secret.id }}][name]"
               value="{{ secret.name }}" />
        {{ secret.name }}</td>
    <td><a class="text-blue" target="_blank"
           href="{{ path('project.service.view.get', {
                'projectId': service.project.id,
                'serviceId': secret.service.id,
            }) }}">{{ secret.service.name }}</a></td>
    <td>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><em data-toggle="tooltip"
                   title="Will be available at /run/secrets/{name}">/run/secrets/</em></span>
            </div>
            <input type="text" class="form-control" maxlength="64"
                   id="secrets_granted-{{ secret.id }}-target"
                   name="secrets_granted[{{ secret.id }}][target]" placeholder=""
                   value="" data-mask-type="secret"
                   data-error-container="secrets_granted-{{ secret.id }}-target-error" />
        </div>

        <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
             data-error-container-name="secrets_granted-{{ secret.id }}-name-error"></div>
    </td>
    <td class="td-action">
        <div class="selectgroup">
            <label class="selectgroup-item dark mb-0">
                <input type="checkbox" class="selectgroup-input"
                       id="secrets_granted-{{ secret.id }}-id"
                       name="secrets_granted[{{ secret.id }}][id]"
                       value="{{ secret.projectSecret.id }}" />
                <span class="btn btn-outline-primary">
                    <i class="fe fe-square" aria-hidden="true"></i>
                    <i class="fe fe-check-square" aria-hidden="true"></i>
                    Grant
                </span>
            </label>
        </div>
    </td>
</tr>
