<div class="page-header mb-0" id="secret">
    <div class="d-flex align-items-end w-100">
        <div class="p-2 w-100">
            <h1 class="page-title">
                Secrets
            </h1>
        </div>

        <div class="p-2 flex-shrink-1">
            <a class="btn btn-outline-success"
               data-toggle="add-element"
               data-target="#owned_secrets-container"
               href="{{ path('project.service.block-add-secret.get', {
                  'projectId': project.id,
               }) }}"><i class="fe fe-plus"></i> Create Secret</a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="mb-3">Owned Secrets</h4>
        <hr class="my-0 mb-3" />

        <div class="table-responsive scrollable-container">
            <table class="table table-striped table-vcenter table-scroll">
                <thead class="bg-white">
                <tr>
                    <th class="w-50">Name</th>
                    <th class="w-50">Value</th>
                    <th class="w-1"></th>
                </tr>
                </thead>
                {% if secrets.internal is not empty %}
                    <tbody>
                    {% for secret in secrets.internal %}
                        {% set projectSecret = secret.projectSecret %}
                        <tr>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><em>/run/secrets/</em></span>
                                    </div>
                                    <input type="text" class="form-control" disabled
                                           value="{{ projectSecret.name }}" />
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control" disabled
                                       value="{{ projectSecret.contents }}" />
                            </td>
                            <td><div title="This is an internal Secret. You cannot delete or change it here."
                                     class="btn btn-sm text-muted" data-toggle="tooltip"><i
                                        class="fe fe-slash"></i></div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endif %}
                <tbody id="owned_secrets-container">
                <tr class="empty-table">
                    <td colspan="3">
                        To add a Secret, click "Create Secret" above.
                    </td>
                </tr>
                {% for secret in secrets.owned %}
                    {% set projectSecret = secret.projectSecret %}
                    <tr id="owned_secrets-{{ projectSecret.id }}-row">
                        <td>
                            <input type="hidden" id="owned_secrets-{{ projectSecret.id }}-id"
                                   name="owned_secrets[{{ projectSecret.id }}][id]"
                                   value="{{ projectSecret.id }}" />

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><em data-toggle="tooltip"
                                       title="Will be available at /run/secrets/{name}">/run/secrets/</em></span>
                                </div>
                                <input type="text" class="form-control" maxlength="64"
                                       id="owned_secrets-{{ projectSecret.id }}-name"
                                       name="owned_secrets[{{ projectSecret.id }}][name]" placeholder=""
                                       value="{{ projectSecret.name }}" required data-mask-type="secret"
                                       data-error-container="owned_secrets-{{ projectSecret.id }}-name-error" />
                            </div>

                            <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
                                 data-error-container-name="owned_secrets-{{ projectSecret.id }}-name-error"></div>
                        </td>
                        <td>
                            <input type="text" class="form-control" maxlength="255"
                                   id="owned_secrets-{{ projectSecret.id }}-contents"
                                   name="owned_secrets[{{ projectSecret.id }}][contents]"
                                   placeholder="" value="{{ projectSecret.contents }}" />
                        </td>
                        <td class="td-action">
                            <div class="selectgroup" data-toggle="delete-element"
                                 data-target="#owned_secrets-{{ projectSecret.id }}-row">
                                <label class="selectgroup-item dark mb-0">
                                    <span class="btn btn-outline-danger">
                                        <i class="fe fe-x-square" aria-hidden="true"></i>
                                        Delete
                                    </span>
                                </label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <h4 class="my-3">Grant Secrets</h4>
        <hr class="my-0 mb-3" />

        {% if secrets.grantable is not empty %}
            <div class="alert alert-icon alert-warning" role="alert">
                <i class="fe fe-bell mr-2" aria-hidden="true"></i>
                Services must be granted access to Secrets to use them.
            </div>
        {% endif %}

        <div class="table-responsive scrollable-container">
            <table class="table table-striped table-vcenter table-scroll">
                <thead class="bg-white">
                <tr>
                    <th>Name</th>
                    <th>Owner</th>
                    <th class="w-50">Target Filename</th>
                    <th class="w-1"></th>
                </tr>
                </thead>
                <tbody id="grant_secrets-container">
                <tr class="empty-table">
                    <td colspan="3">
                        No other Services have any Secrets to share.
                    </td>
                </tr>
                {% for serviceSecret in secrets.granted %}
                    {% set projectSecret = serviceSecret.projectSecret %}
                    <tr id="grant_secrets-{{ projectSecret.id }}-row">
                        <td>{{ projectSecret.name }}</td>
                        <td><a class="text-blue" target="_blank"
                               href="{{ path('project.service.view.get', {
                                    'projectId': project.id,
                                    'serviceId': projectSecret.owner.id,
                                }) }}">{{ projectSecret.owner.name }}</a></td>
                        <td>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><em data-toggle="tooltip"
                                       title="Will be available at /run/secrets/{name}">/run/secrets/</em></span>
                                </div>
                                <input type="text" class="form-control" maxlength="64"
                                       id="grant_secrets-{{ projectSecret.id }}-target"
                                       name="grant_secrets[{{ projectSecret.id }}][target]" placeholder=""
                                       value="{{ serviceSecret.target }}" data-mask-type="secret"
                                       data-error-container="grant_secrets-{{ projectSecret.id }}-target-error" />
                            </div>

                            <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
                                 data-error-container-name="grant_secrets-{{ projectSecret.id }}-target-error"></div>
                        </td>
                        <td class="td-action">
                            <div class="selectgroup">
                                <label class="selectgroup-item dark mb-0">
                                    <input type="checkbox" class="selectgroup-input"
                                           id="grant_secrets-{{ projectSecret.id }}-id"
                                           name="grant_secrets[{{ projectSecret.id }}][id]"
                                           value="{{ projectSecret.id }}" checked />
                                    <span class="btn btn-outline-primary">
                                        <i class="fe fe-square" aria-hidden="true"></i>
                                        <i class="fe fe-check-square" aria-hidden="true"></i>
                                        Grant
                                    </span>
                                </label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                {% for projectSecret in secrets.grantable %}
                    <tr id="grant_secrets-{{ projectSecret.id }}-row">
                        <td>{{ projectSecret.name }}</td>
                        <td><a class="text-blue" target="_blank"
                               href="{{ path('project.service.view.get', {
                                    'projectId': project.id,
                                    'serviceId': projectSecret.owner.id,
                                }) }}">{{ projectSecret.owner.name }}</a></td>
                        <td>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><em data-toggle="tooltip"
                                       title="Will be available at /run/secrets/{name}">/run/secrets/</em></span>
                                </div>
                                <input type="text" class="form-control" maxlength="64"
                                       id="grant_secrets-{{ projectSecret.id }}-target"
                                       name="grant_secrets[{{ projectSecret.id }}][target]" placeholder=""
                                       value="" data-mask-type="secret"
                                       data-error-container="grant_secrets-{{ projectSecret.id }}-target-error" />
                            </div>

                            <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
                                 data-error-container-name="grant_secrets-{{ projectSecret.id }}-target-error"></div>
                        </td>
                        <td class="td-action">
                            <div class="selectgroup">
                                <label class="selectgroup-item dark mb-0">
                                    <input type="checkbox" class="selectgroup-input"
                                           id="grant_secrets-{{ projectSecret.id }}-id"
                                           name="grant_secrets[{{ projectSecret.id }}][id]"
                                           value="{{ projectSecret.id }}" />
                                    <span class="btn btn-outline-primary">
                                        <i class="fe fe-square" aria-hidden="true"></i>
                                        <i class="fe fe-check-square" aria-hidden="true"></i>
                                        Grant
                                    </span>
                                </label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
