{% extends '@Dashtainer/project/service/update.html.twig' %}

{% block serviceContent %}
<form class="card" action="{{ path('project.service.update.post', {
    'projectId': project.id,
    'serviceId': service.id,
}) }}" method="post" data-ajax>
    <div class="card-body">
        <div class="alert alert-icon alert-info mb-6" role="alert">
            <i class="fe fe-bell mr-2" aria-hidden="true"></i>
            This service is available <strong>privately</strong> at
            <span class="badge badge-primary text-lg">
                <span class="tag-addon-left"><i class="fa fa-lock"></i></span>
                <span id="service-name-tag">{{ service.name }}</span>:9200</span>
        </div>

        <hr class="my-6" />

        {% include '@Dashtainer/project/service/snippets/network.html.twig' %}

        <hr class="my-6" />

        {% include '@Dashtainer/project/service/snippets/secret-owned.html.twig' %}
        {% include '@Dashtainer/project/service/snippets/secret-grant.html.twig' %}

        <hr class="my-6" />

        <h4 class="mb-3">Data Storage</h4>

        <div class="row">
            <div class="col">
                <div class="selectgroup" role="tablist">
                    <label class="selectgroup-item">
                        <input type="radio" class="selectgroup-input"
                               id="datastore-docker" name="datastore"
                               value="docker" {{ datastore == 'docker' ? 'checked' }} role="tab"
                               data-toggle="radio-tab" data-target="#datastore-docker-tab"
                               data-error-container="datastore" />
                        <span class="selectgroup-button selectgroup-button-icon px-7 py-3">
                            <i class="fe fe-anchor"></i> Docker</span>
                    </label>

                    <label class="selectgroup-item">
                        <input type="radio" class="selectgroup-input"
                               id="datastore-local" name="datastore"
                               value="local" {{ datastore == 'local' ? 'checked' }} role="tab"
                               data-toggle="radio-tab" data-target="#datastore-local-tab"
                               data-error-container="datastore" />
                        <span class="selectgroup-button selectgroup-button-icon px-7 py-3">
                            <i class="fe fe-hard-drive"></i> Local</span>
                    </label>
                </div>

                <div id="nav-datastore-content" class="tab-content">
                    <div id="datastore-docker-tab" role="tabpanel"
                         class="tab-pane {{ datastore == 'docker' ? 'show active' }}">
                        <div class="row">
                            <div class="form-group col">
                                <small class="text-muted">
                                    Let Docker manage the storage of your database data.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div id="datastore-local-tab" role="tabpanel"
                         class="tab-pane {{ datastore == 'local' ? 'show active' }}">
                        <div class="row">
                            <div class="form-group col">
                                <small class="text-muted">
                                    Create a data directory on the host system.
                                    The directory will be
                                    <code><span id="datastore-local-span">
                                            {{ service.name }}</span>/datadir</code>.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
                     data-error-container-name="datastore"></div>
            </div>
        </div>

        <hr class="my-6" />

        <h4 class="mb-3">Configuration</h4>

        <div class="row">
            <div class="col form-group">
                <label class="form-label" for="heap_size">Heap Size</label>
                <input type="text" class="form-control" maxlength="6"
                       id="heap_size" name="heap_size" placeholder=""
                       value="{{ heap_size }}" required
                       data-error-container="heap_size" />
                <div class="invalid-feedback"
                     data-error-container-name="heap_size"></div>
                <small class="text-muted">
                    Set heap size. Valid examples <code>512m</code>, <code>1g</code>,
                    <code>4g</code>.
                </small>
            </div>
        </div>

        <hr class="my-6" />

        <h4 class="mb-3">Config Files</h4>

        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs mb-3" role="tablist">
                    {% for file in systemFiles %}
                        <li class="nav-item {{ loop.first ? 'active' }}">
                            <a id="nav-system_file-{{ file.name }}-tab" class="nav-link {{ loop.first ? 'active' }}"
                               data-toggle="tab" role="tab"
                               href="#system_file-{{ file.name }}" aria-controls="system_file-{{ file.name }}"
                               aria-selected="{{ loop.first ? 'true' : 'false' }}">{{ file.name }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <div id="nav-file-content" class="tab-content">
                    {% for file in systemFiles %}
                        <div id="system_file-{{ file.name }}" role="tabpanel"
                             class="tab-pane fade {{ loop.first ? 'show active' }}">
                            <div class="row">
                                <div class="col">
                                    <pre class="language-yaml" data-code-highlight><code
                                            id="system_file-{{ file.name }}-source"
                                            contenteditable autocorrect="off" autocapitalize="off"
                                            spellcheck="false">{{ file.data }}</code></pre>
                                    <input type="hidden" value="" name="system_file[{{ file.name }}]"
                                           data-error-container="system_file-error"
                                           data-get-value-source="system_file-{{ file.name }}-source" />
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
                     data-error-container-name="system_file-error"></div>

                <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
                     data-error-container-name="user_file-error"></div>
            </div>
        </div>

        <hr class="my-6" />

        <input type="hidden" id="version" name="version" value="{{ version }}" />

        <div class="d-flex justify-content-between">
            <a href="{{ path('project.view.get', {
                'projectId': project.id
            }) }}" class="btn btn-secondary btn-lg">Cancel</a>
            <button class="btn btn-primary btn-lg" type="submit">Update Service</button>
        </div>
    </div>
</form>
{% endblock %}
