{% extends '@Dashtainer/project/service/update.html.twig' %}

{% block serviceContent %}
<form class="card" action="{{ path('project.service.update.post', {
    'projectId': project.id,
    'serviceId': service.id,
}) }}" method="post" data-ajax>
    <div class="card-body">
        <div class="alert alert-icon alert-info mb-6" role="alert">
            <i class="fe fe-bell mr-2" aria-hidden="true"></i>
            This service is available <strong>privately</strong> at
            <span class="badge badge-primary text-lg">
                <span class="tag-addon-left"><i class="fa fa-lock"></i></span>
                <span id="service-name-tag">{{ service.name }}</span>:5432</span>
        </div>

        <hr class="my-6" />

        {% include '@Dashtainer/project/service/snippets/networks_update.html.twig' %}

        <hr class="my-6" />

        <h4 class="mb-3">Data Storage</h4>

        <div class="row">
            <div class="col">
                <div class="selectgroup" role="tablist">
                    <label class="selectgroup-item">
                        <input type="radio" class="selectgroup-input"
                               id="datastore-docker" name="datastore"
                               value="docker" {{ datastore == 'docker' ? 'checked' }} role="tab"
                               data-toggle="radio-tab" data-target="#datastore-docker-tab"
                               data-error-container="datastore" />
                        <span class="selectgroup-button selectgroup-button-icon px-7 py-3">
                            <i class="fe fe-anchor"></i> Docker</span>
                    </label>

                    <label class="selectgroup-item">
                        <input type="radio" class="selectgroup-input"
                               id="datastore-local" name="datastore"
                               value="local" {{ datastore == 'local' ? 'checked' }} role="tab"
                               data-toggle="radio-tab" data-target="#datastore-local-tab"
                               data-error-container="datastore" />
                        <span class="selectgroup-button selectgroup-button-icon px-7 py-3">
                            <i class="fe fe-hard-drive"></i> Local</span>
                    </label>
                </div>

                <div id="nav-datastore-content" class="tab-content">
                    <div id="datastore-docker-tab" role="tabpanel"
                         class="tab-pane {{ datastore == 'docker' ? 'show active' }}">
                        <div class="row">
                            <div class="form-group col">
                                <small class="text-muted">
                                    Let Docker manage the storage of your database data.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div id="datastore-local-tab" role="tabpanel"
                         class="tab-pane {{ datastore == 'local' ? 'show active' }}">
                        <div class="row">
                            <div class="form-group col">
                                <small class="text-muted">
                                    Create a data directory on the host system.
                                    The directory will be
                                    <code><span id="datastore-local-span">
                                            {{ service.name }}</span>/datadir</code>.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
                     data-error-container-name="datastore"></div>
            </div>
        </div>

        <hr class="my-6" />

        <h4 class="mb-3">Database Credentials</h4>

        <div class="row">
            <div class="col form-group">
                <label class="form-label" for="postgres_db">Database</label>
                <input type="text" class="form-control" maxlength="64"
                       id="postgres_db" name="postgres_db" placeholder=""
                       value="{{ postgres_db }}" required
                       data-error-container="postgres_db" />
                <div class="invalid-feedback" data-error-container-name="postgres_db"></div>
                <small class="text-muted">
                    Database to create on init.
                </small>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl form-group">
                <label class="form-label" for="postgres_user">User</label>
                <input type="text" class="form-control" maxlength="64"
                       id="postgres_user" name="postgres_user" placeholder=""
                       value="{{ postgres_user }}" required
                       data-error-container="postgres_user" />
                <div class="invalid-feedback"
                     data-error-container-name="postgres_user"></div>
                <small class="text-muted">
                    Username.
                </small>
            </div>

            <div class="col-12 col-xl form-group">
                <label class="form-label" for="postgres_password">User Password</label>
                <input type="text" class="form-control" maxlength="64"
                       id="postgres_password" name="postgres_password" placeholder=""
                       value="{{ postgres_password }}" required
                       data-error-container="postgres_password" />
                <div class="invalid-feedback" data-error-container-name="postgres_password"></div>
                <small class="text-muted">
                    Password for User.
                </small>
            </div>
        </div>

        <hr class="my-6" />

        <h4 class="mb-3">Config Files</h4>

        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link"
                           data-toggle="add-block"
                           aria-controls="#nav-file-content"
                           href="{{ path('project.service.block-add-file.get', {
                               'projectId': project.id,
                               'language': 'apacheconf',
                           }) }}">
                            <i class="fe fe-plus"></i> Add</a>
                    </li>
                    {% for file in configFiles %}
                        <li class="nav-item {{ loop.first ? 'active' }}">
                            <a id="nav-file-{{ file.name }}-tab" class="nav-link {{ loop.first ? 'active' }}"
                               data-toggle="tab" role="tab"
                               href="#file-{{ file.name }}" aria-controls="file-{{ file.name }}"
                               aria-selected="{{ loop.first ? 'true' : 'false' }}">{{ file.name }}</a>
                        </li>
                    {% endfor %}
                    {% for file in customFiles %}
                        <li class="nav-item">
                            <a id="nav-custom_file-{{ file.id }}-tab"
                               class="nav-link"
                               data-toggle="tab" href="#custom_file-{{ file.id }}"
                               role="tab" aria-controls="custom_file-{{ file.id }}"
                               aria-selected="{{ loop.first ? 'true' : 'false' }}">{{ file.name }}</a>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default"
                                        data-toggle="delete-block"
                                        data-target="#custom_file-{{ file.id }}">
                                    <i class="fa fa-close"></i></button>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <div id="nav-file-content" class="tab-content">
                    {% for file in configFiles %}
                        <div id="file-{{ file.name }}" role="tabpanel"
                             class="tab-pane fade {{ loop.first ? 'show active' }}">
                            <div class="row">
                                <div class="col">
                                    <pre class="language-ini" data-code-highlight><code
                                            id="file-{{ file.name }}-source"
                                            contenteditable autocorrect="off" autocapitalize="off"
                                            spellcheck="false">{{ file.data }}</code></pre>
                                    <input type="hidden" value="" name="file[{{ file.name }}]"
                                           data-error-container="file-error"
                                           data-get-value-source="file-{{ file.name }}-source" />
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {% for file in customFiles %}
                        <div id="custom_file-{{ file.id }}"
                             class="tab-pane fade"
                             role="tabpanel">
                            <div class="row">
                                <div class="form-group col">
                                    <label class="form-label"
                                           for="custom_file-{{ file.id }}-filename">Filename</label>
                                    <input type="text" class="form-control" maxlength="255"
                                           id="custom_file-{{ file.id }}-filename"
                                           name="custom_file[{{ file.id }}][filename]"
                                           placeholder="" value="{{ file.name }}"
                                           data-update-text="nav-custom_file-{{ file.id }}-tab"
                                           data-error-container="custom_file" />
                                    <small class="text-muted">
                                        Save config into this local file.
                                    </small>
                                </div>

                                <div class="form-group col">
                                    <label class="form-label"
                                           for="custom_file-{{ file.id }}-target">Target Path</label>
                                    <input type="text" class="form-control" maxlength="255"
                                           id="custom_file-{{ file.id }}-target"
                                           name="custom_file[{{ file.id }}][target]"
                                           placeholder="" value="{{ file.target }}"
                                           data-error-container="custom_file" />
                                    <small class="text-muted">
                                        Make file available inside container at this location.
                                    </small>
                                </div>

                                <div class="col-12">
                                    <pre class="language-ini" data-code-highlight><code
                                            contenteditable autocorrect="off" autocapitalize="off"
                                            spellcheck="false"
                                            id="custom_file-{{ file.id }}-data">{{ file.data }}</code></pre>
                                    <input type="hidden" value="" name="custom_file[{{ file.id }}][data]"
                                           data-error-container="custom_file"
                                           data-get-value-source="custom_file-{{ file.id }}-data" />
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
                     data-error-container-name="file-error"></div>

                <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
                     data-error-container-name="custom_file"></div>
            </div>
        </div>

        <hr class="my-6" />

        <input type="hidden" id="version" name="version" value="{{ version }}" />

        <div class="d-flex justify-content-between">
            <a href="{{ path('project.view.get', {
                'projectId': project.id
            }) }}" class="btn btn-secondary btn-lg">Cancel</a>
            <button class="btn btn-primary btn-lg" type="submit">Update Service</button>
        </div>
    </div>
</form>
