<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <title>Dashtainer - Docker, Simplified</title>
</head>
<body>

{% include '@Dashtainer/header.html.twig' %}

<div class="row mt-9 mx-0 py-7">
    <div class="col">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="position-relative">
                        <h1 class="display-1 mb-3 d-inline-block">Dashtainer</h1>
                        <span class="position-absolute text-gray">beta!</span>
                    </div>
                    <h3 class="display-4 font-weight-normal">Docker, Simplified</h3>

                    <p class="lead font-weight-normal">
                        A powerful GUI for easy configuration of Docker services.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-lg-4">
                    <div class="card p-3">
                        <div class="d-flex align-items-center mb-2">
                            <span class="stamp stamp-sm bg-green mr-2">
                              <i class="fe fe-check"></i>
                            </span>
                            <h4 class="mt-1 mb-0">MIT License</h4>
                        </div>
                        <small class="text-muted">Free, open sourced. Pull requests welcome!</small>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4">
                    <div class="card p-3">
                        <div class="d-flex align-items-center mb-2">
                            <span class="stamp stamp-sm bg-green mr-2">
                              <i class="fe fe-check"></i>
                            </span>
                            <h4 class="mt-1 mb-0">Valid Docker</h4>
                        </div>
                        <small class="text-muted">Generates a complete docker-compose.yaml</small>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4">
                    <div class="card p-3">
                        <div class="d-flex align-items-center mb-2">
                            <span class="stamp stamp-sm bg-green mr-2">
                              <i class="fe fe-check"></i>
                            </span>
                            <h4 class="mt-1 mb-0">Easy to Use</h4>
                        </div>
                        <small class="text-muted">Click a few buttons, fill out some forms</small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <a href="{{ path('fos_user_registration_register') }}"
                       class="btn btn-outline-primary btn-lg">Sign up, it's free!</a>
                    <a href="{{ path('fos_user_security_login') }}"
                       class="btn btn-outline-success btn-lg ml-2">Log In</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 py-7 bg-white">
    <div class="col">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <div class="card hlt p-3">
                        <h1 class="mb-0 display-5 text-nowrap"><i class="icon-php"></i>
                            PHP</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="card hlt p-3">
                        <h1 class="mb-0 display-5 text-nowrap"><i class="icon-nginx-alt"></i>
                        Nginx</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="card hlt p-3">
                        <h1 class="mb-0 display-5 text-nowrap"><i class="icon-apache"></i>
                        Apache</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="card hlt p-3">
                        <h1 class="mb-0 display-5 text-nowrap"><i class="icon-mariadb"></i>
                        MariaDB</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="card hlt p-3">
                        <h1 class="mb-0 display-5 text-nowrap"><i class="icon-mysql"></i>
                        MySQL</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="card hlt p-3">
                        <h1 class="mb-0 display-5 text-nowrap"><i class="icon-postgres"></i>
                        PostgreSQL</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="card hlt p-3">
                        <h1 class="mb-0 display-5 text-nowrap"><i class="icon-mongodb"></i>
                        Mongo</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="card hlt p-3">
                        <h1 class="mb-0 display-5 text-nowrap"><i class="icon-redis"></i>
                        Redis</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="card hlt p-3">
                        <h1 class="mb-0 display-5 text-nowrap"><i class="icon-database"></i>
                        Elasticsearch</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="card hlt p-3">
                        <h1 class="mb-0 display-5 text-nowrap"><i class="fe fe-mail"></i>
                        MailHog</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="card hlt p-3">
                        <h1 class="mb-0 display-5 text-nowrap"><i class="fa fa-sort-amount-desc"></i>
                        Beanstalkd</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="card hlt p-3">
                        <h1 class="mb-0 display-5 text-nowrap"><i class="fe fe-layout"></i>
                        Adminer</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="card hlt p-3">
                        <h1 class="mb-0 display-5 text-nowrap"><i class="fa fa-fire"></i>
                        Blackfire</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="card hlt p-3">
                        <h1 class="mb-0 display-5 text-nowrap"><i class="icon-go-alt"></i>
                        Traefik</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="lead font-weight-normal mb-0">
                        Easily add and customize services!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 py-7">
    <div class="col">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <img src="{{ asset('build/assets/images/traefik.logo.png') }}" />

                    <p class="lead font-weight-normal mb-0">
                        Uses <a href="https://traefik.io/" target="_blank">Traefik</a> for
                        automatic route detection!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 py-7 bg-white">
    <div class="col">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h3 class="display-4 font-weight-normal">Ready to Start?</h3>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <a href="{{ path('fos_user_registration_register') }}"
                       class="btn btn-outline-primary btn-lg">Sign up, it's free!</a>
                    <a href="{{ path('fos_user_security_login') }}"
                       class="btn btn-outline-success btn-lg ml-2">Log In</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '@Dashtainer/footer.html.twig' %}

<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>
