<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>
<body>

<div class="page">
    <div class="page-main">
        <div class="header">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="{{ path('index.get') }}"><img
                            src="{{ asset('build/assets/images/logo.svg') }}"
                            class="navbar-brand-img" alt="dashtainer.com"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('index.get') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/jtreminio/dashtainer"
                                   target="_blank">Fork Me</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://jtreminio.com" target="_blank">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://jtreminio.com/hire-me/"
                                   target="_blank">Hire Me!</a>
                            </li>
                        </ul>
                        <div class="nav order-lg-2">
                            <div class="dropdown ml-3">
                                <a href="#" class="nav-link" data-toggle="dropdown">
                                    <img src="{{ asset('build/assets/images/avatar.png') }}"
                                         class="avatar"/>
                                    <span class="ml-2 d-none d-lg-block"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">
                                        <span>Settings</span>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"
                                       href="{{ path('fos_user_security_logout') }}">Sign out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="header-nav d-none d-lg-flex">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                {% block breadcrumb %}{% endblock %}
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-auto mr-auto">
                    Made with <i class="fe fe-heart"></i>
                    by <a href="https://jtreminio.com">Juan Treminio</a>
                </div>
                <div class="col-auto">
                    Theme by <a href="https://codecalm.net" target="_blank">codecalm.net</a>
                </div>
            </div>
        </div>
    </footer>
</div>


<div id="ajax-spinner" class="hidden invisible modal-backdrop in">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</div>

<div class="modal" id="dynamic-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog"><div class="modal-content"></div></div>
</div>

<script src="{{ asset('build/app.js') }}"></script>
{% block footerJs %}{% endblock %}
</body>
</html>
