{% extends '@Dashtainer/template.html.twig' %}

{% block content %}
<div class="page-header">
    <h1 class="page-title">
        Update MailHog Service "{{ service.name }}"
    </h1>
</div>

<div class="row">
    <div class="col-lg-3 order-lg-1 mb-4">
        <div class="alert alert-primary text-center">
            Manage Service
        </div>
        <div class="list-group list-group-transparent mb-0">
            <a href="{{ path('project.update.get', {'projectId': project.id}) }}"
               class="list-group-item list-group-item-action"><span
                    class="icon mr-3"><i class="fe fe-alert-triangle"></i></span>Edit Project</a>
            <a href="{{ path('project.export.get', {'projectId': project.id}) }}"
               class="list-group-item list-group-item-action"><span
                    class="icon mr-3"><i class="fe fe-user"></i></span>Export Project</a>
        </div>
    </div>

    <div class="col-lg-9">

<form class="card" action="{{ path('project.service.update.post', {
    'projectId': project.id,
    'serviceId': service.id,
}) }}" method="post" data-ajax>
    <div class="card-body">
        <div class="alert alert-icon alert-info mb-6" role="alert">
            <i class="fe fe-bell mr-2" aria-hidden="true"></i>
            This service is available <strong>privately</strong> at
            <span class="badge badge-primary text-lg">
                <span class="tag-addon-left"><i class="fa fa-lock"></i></span>
                <span id="service-name-tag">{{ service.name }}</span>:1025</span>

            and <strong>publicly</strong> at
            <span class="badge badge-primary text-lg">
                <span class="tag-addon-left"><i class="fa fa-unlock"></i></span>
                http://<span id="server-name-tag">{{ service.name }}</span>.localhost:8025</span>
        </div>

        <hr class="my-6" />

        <button class="btn btn-primary btn-lg btn-block" type="submit">Update Service</button>

        <p class="my-3"><a href="#" data-toggle="modal"
              data-target="#service-delete-modal">Delete service</a></p>
    </div>
</form>

    </div>
</div>

<div class="modal fade" id="service-delete-modal" tabindex="-1" role="dialog"
     aria-labelledby="service-delete-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="service-delete-modal-title">Delete this service?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('project.service.delete.post', {
                    'projectId': project.id,
                    'serviceId': service.id,
                }) }}"
                  method="post" data-ajax>
                <div class="modal-body">
                    <p>This will also delete all files attached to this service.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Yes, delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
