{% extends '@Dashtainer/template.html.twig' %}

{% block content %}
<div class="page-header">
    <h1 class="page-title">
        Create Nginx Service
    </h1>
</div>

<div class="row">
    <div class="col-lg-3 order-lg-1 mb-4">
        <div class="alert alert-primary text-center">
            Manage Project
        </div>
        <div class="list-group list-group-transparent mb-0">
            <a href="{{ path('project.update.get', {'projectId': project.id}) }}"
               class="list-group-item list-group-item-action"><span
                    class="icon mr-3"><i class="fe fe-alert-triangle"></i></span>Edit Project</a>
            <a href="{{ path('project.export.get', {'projectId': project.id}) }}"
               class="list-group-item list-group-item-action"><span
                    class="icon mr-3"><i class="fe fe-user"></i></span>Export Project</a>
        </div>
    </div>

    <div class="col-lg-9">

<form class="card" action="{{ path('project.service.create.post', {
    'projectId': project.id,
    'serviceTypeSlug': serviceType.slug,
}) }}" method="post" data-ajax>
    <div class="card-body">
        <div class="row">
            <div class="form-group col">
                <label class="form-label" for="name">Service Name</label>
                <input type="text" class="form-control" maxlength="64"
                       id="name" name="name" placeholder=""
                       value="{{ serviceName }}" required data-mask-type="dns"
                       data-update-text="service-name-tag"
                       data-error-container="name" />
                <div class="invalid-feedback" data-error-container-name="name"></div>
            </div>
        </div>

        <div class="alert alert-icon alert-info mb-6" role="alert">
            <i class="fe fe-bell mr-2" aria-hidden="true"></i>
            This service will be available <strong>privately</strong> at
            <span class="badge badge-primary text-lg">
                <span class="tag-addon-left"><i class="fa fa-lock"></i></span>
                <span id="service-name-tag">{{ serviceName }}</span>:80</span>

            and <strong>publicly</strong> at
            <span class="badge badge-primary text-lg">
                <span class="tag-addon-left"><i class="fa fa-unlock"></i></span>
                http://<span id="server-name-tag">awesome.localhost</span></span>
             and server aliases you define below
        </div>

        <hr class="my-6" />

        {% include '@Dashtainer/project/service/snippets/_networks_create.html.twig' %}

        <hr class="my-6" />

        {% include '@Dashtainer/project/service/snippets/_project_files_create.html.twig' %}

        <hr class="my-6" />

        <h4 class="mb-3">Packages</h4>

        <div class="row">
            <div class="form-group col">
                <label for="system-packages">System Packages</label>
                <select class="form-control" id="system-packages" name="system_packages[]"
                        multiple data-error-container="system-packages" data-selectize-tags>
                </select>
                <div class="invalid-feedback" data-error-container-name="system-packages"></div>
                <small class="text-muted">
                    Will be installed using <code>apt-get</code>.
                </small>
            </div>
        </div>

        <hr class="my-6" />

        <h4 class="mb-3">Virtual Host Config</h4>

        <div class="row">
            <div class="col-12 col-xl form-group">
                <label for="server_name">Server Name</label>
                <input type="text" class="form-control"
                       id="server_name" name="server_name" placeholder=""
                       value="awesome.localhost"
                       data-update-text="server-name-tag" />
                <small class="text-muted">
                    Your server name <strong>must</strong> be <code>.localhost</code>
                    for local development.
                </small>
            </div>

            <div class="col-12 col-xl form-group">
                <label for="server_alias">Server Aliases</label>
                <select class="form-control" id="server_alias"
                        name="server_alias[]"
                        multiple data-selectize-tags>
                    <option value="www.awesome.localhost" selected>www.awesome.localhost</option>
                </select>
                <small class="text-muted">
                    Your server aliases <strong>must</strong> be <code>.localhost</code>
                    for local development.
                </small>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl form-group">
                <label for="document_root">Document Root</label>
                <input type="text" class="form-control"
                       id="document_root" name="document_root" placeholder=""
                       value="/var/www" />
                <small class="text-muted">
                    Location of your site's index.php file, or other landing page.
                    Symfony 2 &amp; 3 use <code>web</code>. Laravel and Symfony 4 use
                    <code>public</code>.
                </small>
            </div>

            {% set has_fcgi_handlers = false %}
            <div class="col-12 col-xl form-group">
                <label for="fcgi_handler">FCGI Handler</label>
                <select class="form-control" id="fcgi_handler"
                        name="fcgi_handler"
                        data-selectize-tags>
                    {% if fcgi_handlers.phpfpm is not empty %}
                        {% set has_fcgi_handlers = true %}
                        <optgroup label="PHP-FPM">
                            {% for handler in fcgi_handlers.phpfpm %}
                                <option value="{{ handler.name }}:9000"
                                        {{ loop.first ? 'selected' }}>
                                    {{ handler.name }}:9000</option>
                            {% endfor %}
                        </optgroup>
                    {% endif %}
                </select>
                <small class="text-muted">
                    {% if not has_fcgi_handlers %}
                        No handlers found.
                        <a href="{{ path('project.view.get', {
                            'projectId': project.id,
                        }) }}">Create a handler service first</a>,
                        like PHP-FPM.
                    {% endif %}
                </small>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs mb-3" role="tablist">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                           href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">Generate from a template</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item"
                               href="{{ path('project.service.nginx.vhost.post', {
                                    'projectId': project.id,
                                    'type': 'basic_html',
                                }) }}" data-code-from-remote="#vhost_conf-code">Basic HTML</a>
                            <a class="dropdown-item"
                               href="{{ path('project.service.nginx.vhost.post', {
                                    'projectId': project.id,
                                    'type': 'basic_phpfpm',
                                }) }}" data-code-from-remote="#vhost_conf-code">Basic PHP-FPM</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                               href="{{ path('project.service.nginx.vhost.post', {
                                    'projectId': project.id,
                                    'type': 'symfony2_3',
                                }) }}" data-code-from-remote="#vhost_conf-code">Symfony 2 &amp; 3</a>
                            <a class="dropdown-item"
                               href="{{ path('project.service.nginx.vhost.post', {
                                    'projectId': project.id,
                                    'type': 'symfony4',
                                }) }}" data-code-from-remote="#vhost_conf-code">Symfony 4</a>
                            <a class="dropdown-item"
                               href="{{ path('project.service.nginx.vhost.post', {
                                    'projectId': project.id,
                                    'type': 'laravel',
                                }) }}" data-code-from-remote="#vhost_conf-code">Laravel</a>
                            <a class="dropdown-item"
                               href="{{ path('project.service.nginx.vhost.post', {
                                    'projectId': project.id,
                                    'type': 'wordpress',
                                }) }}" data-code-from-remote="#vhost_conf-code">Wordpress</a>
                        </div>
                    </li>
                </ul>

                <div id="nav-vhost_conf-content" class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel"
                         data-role="empty-tab">
                        <div class="row">
                            <div class="col">
                                <pre class="language-nginx" data-code-highlight><code
                                        id="vhost_conf-code"
                                        contenteditable autocorrect="off" autocapitalize="off"
                                        spellcheck="false"># Generate from a template with the dropdown above,
# or create your own custom config here</code></pre>
                                <input type="hidden" value="" id="vhost_conf" name="vhost_conf"
                                       data-error-container="vhost"
                                       data-get-value-source="vhost_conf-code" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="invalid-feedback" data-error-container-name="vhost"></div>
            </div>
        </div>

        <hr class="my-6" />

        <h4 class="mb-3">Config Files</h4>
        {% set Dockerfile = serviceType.meta('Dockerfile') %}
        {% set conf = serviceType.meta('conf') %}

        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link"
                           data-toggle="add-block"
                           aria-controls="#nav-file-content"
                           href="{{ path('project.service.block-add-file.get', {
                               'projectId': project.id,
                               'language': 'nginx',
                           }) }}">
                            <i class="fa fa-plus"></i> Add</a>
                    </li>
                    <li class="nav-item active">
                        <a id="nav-Dockerfile-tab" class="nav-link active"
                           data-toggle="tab" role="tab"
                           href="#file-Dockerfile" aria-controls="file-Dockerfile"
                           aria-selected="true">Dockerfile</a>
                    </li>
                    {% for key, value in conf.data %}
                        <li class="nav-item">
                            <a id="nav-file-{{ key }}-tab" class="nav-link"
                               data-toggle="tab" role="tab"
                               href="#file-{{ key }}" aria-controls="file-{{ key }}"
                               aria-selected="false">{{ key }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div id="nav-file-content" class="tab-content">
                    <div id="file-Dockerfile" role="tabpanel"
                         class="tab-pane fade show active">
                        <div class="row">
                            <div class="col">
                                <pre class="language-docker" data-code-highlight><code
                                        id="file-Dockerfile-source"
                                        contenteditable autocorrect="off" autocapitalize="off"
                                        spellcheck="false">{{ Dockerfile.data[0] }}</code></pre>
                                <input type="hidden" value="" name="file[Dockerfile]"
                                       data-error-container="file-error"
                                       data-get-value-source="file-Dockerfile-source" />
                            </div>
                        </div>
                    </div>
                    {% for key, value in conf.data %}
                        <div id="file-{{ key }}" role="tabpanel"
                             class="tab-pane fade">
                            <div class="row">
                                <div class="col">
                                    <pre class="language-nginx" data-code-highlight><code
                                            id="file-{{ key }}-source"
                                            contenteditable autocorrect="off" autocapitalize="off"
                                            spellcheck="false">{{ value }}</code></pre>
                                    <input type="hidden" value="" name="file[{{ key }}]"
                                           data-error-container="file-error"
                                           data-get-value-source="file-{{ key }}-source" />
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
                     data-error-container-name="file-error"></div>

                <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
                     data-error-container-name="custom_file"></div>
            </div>
        </div>

        <hr class="my-6" />

        <button class="btn btn-primary btn-lg btn-block" type="submit">Create Service</button>
    </div>
</form>

    </div>
</div>
{% endblock %}
