<div class="modal fade" id="service-create-modal" tabindex="-1" role="dialog"
     aria-labelledby="service-create-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="service-create-modal-title">Create a Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

{% for category in serviceCategories if category is not empty %}
    <h5>{{ category.name }}</h5>
    <div class="row row-cards">
        {% for type in category.types if type.isPublic %}
            <div class="col-6 col-md-6 col-lg-3">
                <div class="card">
                    {% if type.versions is not empty %}
                        <a href="#" class="p-1"
                           id="{{ type.slug }}-dropdown"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="d-flex align-items-center">
                                <span class="stamp bg-blue mr-3">{{ type.name|first }}</span><div>
                                    <h6 class="m-0 dropdown-toggle">{{ type.name }}</h6>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="{{ type.slug }}-dropdown">
                            <h6 class="dropdown-header">Version</h6>

                            <div class="dropdown-divider"></div>
                            {% for version in type.versions %}
                                <a href="{{ path('project.service.create.get', {
                                    'projectId': project.id,
                                    'serviceTypeSlug': type.slug,
                                    'version': version,
                                }) }}" class="dropdown-item">{{ type.name }} {{ version }}</a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <a href="{{ path('project.service.create.get', {
                                'projectId': project.id,
                                'serviceTypeSlug': type.slug,
                            }) }}" class="p-1">
                            <div class="d-flex align-items-center">
                                <span class="stamp bg-blue mr-3">{{ type.name|first }}</span>
                                <div>
                                    <h6 class="m-0">{{ type.name }}</h6>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}

            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
        </div>
    </div>
</div>
