{% extends '@Dashtainer/template.html.twig' %}

{% block breadcrumb %}
<div class="header d-lg-flex p-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0">
                        <li class="breadcrumb-item"><a href="{{ path('project.index.get') }}">
                                Projects</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('project.view.get', {
                                'projectId': project.id,
                            }) }}">{{ project.name }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Dump docker-compose.yml</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row" data-sticky-container>
    <div class="col-lg-3 order-lg-0 mb-4">
        <div data-sticky>
            <a href="{{ path('project.view.get', {
                    'projectId': project.id
                }) }}" class="btn btn-block btn-primary mb-6">
                <i class="fe fe-arrow-left mr-2"></i>Back to Project
            </a>

            <div class="list-group list-group-transparent mb-0">
                <a class="list-group-item list-group-item-action"
                   href="{{ path('project.download.get', {
                        'projectId': project.id
                    }) }}"><span class="icon mr-3"><i class="fe fe-download"></i></span>
                    Download Project</a>
            </div>
        </div>
    </div>

    <div class="col-lg-9" id="service">
        <div class="page-header mt-0 mb-2">
            <div class="d-flex align-items-end w-100">
                <h1 class="page-title">Dump docker-compose.yml</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body text-wrap">
                        <div class="row">
                            <div class="col pt-3 px-3 pb-0">
                                <pre class="language-yaml"><code>{{ dump }}</code></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
