{% extends '@Dashtainer/template.html.twig' %}

{% block breadcrumb %}
<div class="header d-lg-flex p-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0">
                        <li class="breadcrumb-item"><a href="{{ path('project.index.get') }}">
                                Projects</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('project.view.get', {
                                'projectId': project.id,
                            }) }}">{{ project.name }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Update Project</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row" data-sticky-container>
    <div class="col-lg-3 order-lg-0 mb-4">
        <div data-sticky>
            <a href="{{ path('project.view.get', {
                    'projectId': project.id
                }) }}" class="btn btn-block btn-primary mb-6">
                <i class="fe fe-arrow-left mr-2"></i>Back to Project
            </a>

            <div class="list-group list-group-transparent mb-5">
                {% if project.services is not empty %}
                    <a class="list-group-item list-group-item-action"
                       href="{{ path('project.download.get', {
                            'projectId': project.id
                        }) }}"><span class="icon mr-3"><i class="fe fe-download"></i></span>
                        Download Project</a>
                {% endif %}
            </div>
            <div class="list-group list-group-transparent mb-0">
                <a class="list-group-item list-group-item-action text-danger"
                   data-toggle="modal" data-target="#project-delete-modal"
                   href="#"><span class="icon mr-3"><i class="fe fe-delete"></i></span>
                    Delete Project</a>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
<form class="card" action="{{ path('project.update.post', {
    'projectId': project.id,
}) }}" method="post" data-ajax>
    <div class="card-body p-lg-6">
        <div class="row">
            <div class="form-group col">
                <label class="form-label" for="name">Project Name</label>
                <input type="text" class="form-control"
                       id="name" name="name" placeholder=""
                       value="{{ project.name }}" required data-error-container="name"/>
                <div class="invalid-feedback"
                     data-error-container-name="name"></div>
            </div>
        </div>

        <button class="btn btn-primary btn-lg btn-block mb-5" type="submit">Update Service</button>

        <a href="{{ path('project.view.get', {
            'projectId': project.id
        }) }}" class="btn btn-outline-danger btn-lg">Cancel</a>
    </div>
</form>
    </div>
</div>

{% include '@Dashtainer/project/snippets/delete.html.twig' %}
{% endblock %}
