{% extends '@Dashtainer/template.html.twig' %}

{% block content %}
<div class="container py-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index.get') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('project.index.get') }}">Projects</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
        </ol>
    </nav>
</div>

<div class="container">
    <p>Project details:</p>

    <p>ID: {{ project.id }}</p>
    <p>Name: {{ project.name }}</p>

    <hr />

    {% if project.services is not empty %}
        <p>Services:</p>
        {% for service in project.services %}
            <p><a href="{{ path('project.service.view.get', {
                    'projectId': project.id,
                    'serviceId': service.id,
                }) }}">{{ service.name }}</a></p>
        {% endfor %}

        <hr />
    {% else %}
        <p>You have no services.</p>
    {% endif %}

    <p><a href="#" data-toggle="modal"
          data-target="#service-create-modal">Create a new service</a></p>
</div>

<div class="modal fade" id="service-create-modal" tabindex="-1" role="dialog"
     aria-labelledby="service-create-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="service-create-modal-title">Create a new service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('project.service.create.post', {
                    'projectId': project.id,
                }) }}" method="post" data-ajax>
                <div class="modal-body">
                    <div class="container">
                        <div class="row form-group">
                            <label for="name">Service Name</label>
                            <input type="text" class="form-control"
                                   id="name" name="name" placeholder=""
                                   value="" required data-error-container="name" />
                            <div class="invalid-feedback"
                                 data-error-container-name="name"></div>
                        </div>

                        <div class="row form-group">
                            <label for="service_type">Service Type</label>
                            <select class="form-control"
                                    id="service_type" name="service_type" required
                                    data-error-container="service_type">
                                <option value="" disabled selected hidden>Select your option</option>
                                {% for category in serviceCategories %}
                                    <optgroup label="{{ category.name }}">
                                        {% for type in category.serviceTypes %}
                                            <option value="{{ type.id }}">{{ type.name }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback"
                                 data-error-container-name="service_type"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
