{% extends '@Dashtainer/template.html.twig' %}

{% block content %}
<div class="page-header">
    <h1 class="page-title">
        {{ project.name }}
    </h1>
</div>

<div class="row">
    <div class="col-lg-3 order-lg-1 mb-4">
        <div class="alert alert-primary text-center">
            Manage Project
        </div>
        <div class="list-group list-group-transparent mb-0">
            <a href="{{ path('project.update.get', {'projectId': project.id}) }}"
               class="list-group-item list-group-item-action"><span
                    class="icon mr-3"><i class="fe fe-alert-triangle"></i></span>Edit Project</a>
            <a href="{{ path('project.export.get', {'projectId': project.id}) }}"
               class="list-group-item list-group-item-action"><span
                    class="icon mr-3"><i class="fe fe-user"></i></span>Export Project</a>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="card">
            <div class="card-body">
                <div class="text-wrap p-lg-6">
                    <div class="row align-items-end mb-2">
                        <div class="col-auto mr-auto">
                            <h3 class="mb-0">Services</h3>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary btn-sm" type="button"
                                    data-toggle="collapse" aria-expanded="false"
                                    data-target="#services-list" aria-controls="services-list">
                                <i class="fe fe-plus mr-2"></i> Create a service
                            </button>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <div class="collapse" id="services-list">
                                {% include '@Dashtainer/project/snippets/service_create.html.twig' %}
                            </div>
                        </div>
                    </div>

                    {% if project.services is not empty %}
                        <table class="table table-vcenter text-nowrap">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Children</th>
                                <th>
                                    <span class="sr-only">Actions</span>
                                </th>
                                <th>
                                    <span class="sr-only">Download</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for service in project.services if service.parent is empty %}
                                <tr>
                                    <td><a href="{{ path('project.service.view.get', {
                                            'projectId': project.id,
                                            'serviceId': service.id,
                                        }) }}" class="text-inherit">{{ service.name }}</a></td>
                                    <td>{{ service.type.name }}</td>
                                    <td>
                                        {% if service.children is not empty %}
                                            <ul>
                                            {% for child in service.children %}
                                                <li>{{ child.name }}</li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </td>
                                    <td class="text-right">
                                        <a href="javascript:void(0)" class="btn btn-secondary btn-sm">Manage</a>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                Actions
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="icon" href="javascript:void(0)">
                                            <i class="fe fe-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                    {% if project.services is empty %}
                        <p>You have no services.</p>
                    {% endif %}

                    <hr />

                    <div class="row align-items-end mb-2">
                        <div class="col-auto mr-auto">
                            <h3 class="mb-0">Networks</h3>
                        </div>
                        <div class="col-auto">
                            <a href="{{ path('project.network.create.get', {
                                    'projectId': project.id,
                                }) }}" class="btn btn-primary btn-sm">
                                <i class="fe fe-plus mr-2"></i> Create a network
                            </a>
                        </div>
                    </div>

                    {% set hasPrivateNetworks = false %}
                    {% for network in project.networks if not network.isPublic %}
                        {% set hasPrivateNetworks = true %}
                        <p><a href="{{ path('project.network.view.get', {
                                'projectId': project.id,
                                'networkId': network.id
                            }) }}">{{ network.name }}</a></p>
                    {% endfor %}

                    {% if not hasPrivateNetworks %}
                        <p>You have no networks.</p>
                    {% endif %}

                    <hr />

                    <div class="row align-items-end mb-2">
                        <div class="col-auto mr-auto">
                            <h3 class="mb-0">Secrets</h3>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary btn-sm" type="button">
                                <i class="fe fe-plus mr-2"></i> Create a secret
                            </button>
                        </div>
                    </div>

                    {% for secret in project.secrets %}
                        <p>{{ secret.name }}</p>
                    {% endfor %}

                    {% if project.secrets is empty %}
                        <p>You have no secrets.</p>
                    {% endif %}

                    <hr />

                    <div class="row align-items-end mb-2">
                        <div class="col-auto mr-auto">
                            <h3 class="mb-0">Volumes</h3>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary btn-sm" type="button">
                                <i class="fe fe-plus mr-2"></i> Create a volume
                            </button>
                        </div>
                    </div>

                    {% for volume in project.volumes %}
                        <p>{{ volume.name }}</p>
                    {% endfor %}

                    {% if project.volumes is empty %}
                        <p>You have no volumes.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
