{% extends '@Dashtainer/template.html.twig' %}

{% block content %}
<div class="container py-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index.get') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('project.index.get') }}">Projects</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
        </ol>
    </nav>
</div>

<div class="container">
    <p>Project details:</p>

    <p>ID: {{ project.id }}</p>
    <p>Name: {{ project.name }}</p>
    <p><a href="{{ path('project.update.get', {'projectId': project.id}) }}">Edit project</a></p>

    <hr />

    <p>Services:</p>
    {% for service in project.services %}
        <p><a href="{{ path('project.service.view.get', {
                'projectId': project.id,
                'serviceId': service.id,
            }) }}">{{ service.name }}</a></p>
    {% endfor %}

    {% if project.services is empty %}
        <p>You have no services.</p>
    {% endif %}

    <p><a href="{{ path('project.service.create.get', {'projectId': project.id}) }}" >
            Create a new service</a></p>

    <hr />

    <p>Networks:</p>
    {% for network in project.networks %}
        <p><a href="{{ path('project.network.view.get', {
                'projectId': project.id,
                'networkId': network.id,
            }) }}">{{ network.name }}</a></p>
    {% endfor %}

    {% if project.networks is empty %}
        <p>You have no networks.</p>
    {% endif %}

    <p><a href="#" data-toggle="modal"
          data-target="#network-create-modal">Create a new network</a></p>

    <hr />

    <p>Secrets:</p>
    {% for secret in project.secrets %}
        <p><a href="{{ path('project.secret.view.get', {
                'projectId': project.id,
                'secretId': secret.id,
            }) }}">{{ secret.name }}</a></p>
    {% endfor %}

    {% if project.secrets is empty %}
        <p>You have no secrets.</p>
    {% endif %}

    <p><a href="#" data-toggle="modal"
          data-target="#secret-create-modal">Create a new secret</a></p>

    <hr />

    <p>Volumes:</p>
    {% for volume in project.volumes %}
        <p><a href="{{ path('project.volume.view.get', {
                'projectId': project.id,
                'volumeId': volume.id,
            }) }}">{{ volume.name }}</a></p>
    {% endfor %}

    {% if project.volumes is empty %}
        <p>You have no volumes.</p>
    {% endif %}

    <p><a href="#" data-toggle="modal"
          data-target="#volume-create-modal">Create a new volume</a></p>
</div>

<div class="modal fade" id="network-create-modal" tabindex="-1" role="dialog"
     aria-labelledby="network-create-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="network-create-modal-title">Create a new network</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('project.network.create.post', {
                    'projectId': project.id,
                }) }}" method="post" data-ajax>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="network-name">Name</label>
                        <input type="text" class="form-control"
                               id="network-name" name="name" placeholder=""
                               value="" required data-error-container="network-name" />
                        <div class="invalid-feedback"
                             data-error-container-name="network-name"></div>
                    </div>

                    <div class="form-group">
                        <label for="network-driver">Driver</label>
                        <select class="form-control"
                                id="network-driver" name="driver"
                                data-error-container="network-driver">
                            <option value="" selected>unset</option>
                            <option value="bridge">bridge</option>
                            <option value="overlay">overlay</option>
                        </select>
                        <div class="invalid-feedback"
                             data-error-container-name="network-driver"></div>
                    </div>

                    <hr class="mb-4" />

                    <div class="form-group">
                        <label for="network-external" class="w-100">External</label>

                        <div class="form-check">
                            <input type="radio" class="form-check-input"
                                   id="network-external-disabled" name="network-external"
                                   value="" required checked />
                            <label class="form-check-label" for="network-external-disabled">
                                disabled
                            </label>
                        </div>

                        <div class="form-check">
                            <input type="radio" class="form-check-input"
                                   id="network-external-true" name="network-external"
                                   value="true" required />
                            <label class="form-check-label" for="network-external-true">
                                true
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="secret-create-modal" tabindex="-1" role="dialog"
     aria-labelledby="secret-create-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="secret-create-modal-title">Create a new secret</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('project.secret.create.post', {
                    'projectId': project.id,
                }) }}" method="post" data-ajax>
                <div class="modal-body">
                    <div class="container">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="volume-create-modal" tabindex="-1" role="dialog"
     aria-labelledby="volume-create-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="volume-create-modal-title">Create a new volume</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('project.volume.create.post', {
                    'projectId': project.id,
                }) }}" method="post" data-ajax>
                <div class="modal-body">
                    <div class="container">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
