{% extends '@Dashtainer/template.html.twig' %}

{% block breadcrumb %}
<div class="header d-lg-flex p-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0">
                        <li class="breadcrumb-item"><a href="{{ path('project.index.get') }}">
                                Projects</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('project.view.get', {
                                'projectId': project.id,
                            }) }}">{{ project.name }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            View Services</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row" data-sticky-container>
    <div class="col-lg-3 order-lg-0 mb-4">
        <div data-sticky>
            <div class="list-group list-group-transparent mb-5">
                <a class="list-group-item list-group-item-action"
                   href="{{ path('project.update.get', {
                        'projectId': project.id
                    }) }}"><span class="icon mr-3"><i class="fe fe-edit"></i></span>
                    Update Project</a>
                {% if project.services is not empty %}
                    <a class="list-group-item list-group-item-action"
                       href="{{ path('project.download.get', {
                            'projectId': project.id
                        }) }}"><span class="icon mr-3"><i class="fe fe-download"></i></span>
                        Download Project</a>
                {% endif %}
            </div>
            <div class="list-group list-group-transparent mb-0">
                <a class="list-group-item list-group-item-action text-danger"
                   data-toggle="modal" data-target="#project-delete-modal"
                   href="#"><span class="icon mr-3"><i class="fe fe-delete"></i></span>
                    Delete Project</a>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="page-header m-0">
            <div class="d-flex align-items-end w-100">
                <div class="p-2 w-100">
                    <h1 class="page-title">Services</h1>
                </div>

                <div class="p-2 flex-shrink-1">
                    <a class="btn btn-outline-success"
                       data-toggle="modal" data-target="#service-create-modal"
                       href="#"><i class="fe fe-plus"></i> Create Service</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <table class="table table-vcenter text-nowrap">
                    {% for category in serviceCategories %}
                    <thead>
                    <tr>
                        <th colspan="3">{{ category.name }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if servicesCategorized[category.id] is defined %}
                        {% for service in servicesCategorized[category.id] %}
                        <tr>
                            <td><a href="{{ path('project.service.view.get', {
                                    'projectId': project.id,
                                    'serviceId': service.id,
                                }) }}" class="text-inherit">{{ service.name }}</a></td>
                            <td>{{ service.type.name }}</td>
                            <td class="w-2">
                                <a class="btn btn-outline-primary td-action"
                                   href="{{ path('project.service.update.get', {
                                    'projectId': project.id,
                                    'serviceId': service.id,
                                }) }}">Update</a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3" class="text-muted">
                                No {{ category.name }} services defined.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% include '@Dashtainer/project/snippets/service_create.html.twig' %}
{% include '@Dashtainer/project/snippets/delete.html.twig' %}
{% endblock %}
