{% extends '@Dashtainer/template.html.twig' %}

{% block content %}
<div class="container py-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index.get') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('project.index.get') }}">Projects</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
        </ol>
    </nav>
</div>

<div class="container">
    <p>Project details:</p>

    <p>ID: {{ project.id }}</p>
    <p>Name: {{ project.name }}</p>
    <p><a href="{{ path('project.update.get', {'projectId': project.id}) }}">Edit project</a></p>
    <p><a href="{{ path('project.export.get', {'projectId': project.id}) }}">Export project</a></p>

    <hr />

    <p>Services:</p>
    {% for service in project.services if service.parent is empty %}
        <ul>
            <li><a href="{{ path('project.service.view.get', {
                    'projectId': project.id,
                    'serviceId': service.id,
                }) }}">{{ service.name }}</a>
                {% if service.children is not empty %}
                    <ul>
                    {% for child in service.children %}
                        <li>{{ child.name }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </li>
        </ul>
    {% endfor %}

    {% if project.services is empty %}
        <p>You have no services.</p>
    {% endif %}

    <button class="btn btn-primary" type="button" data-toggle="collapse" aria-expanded="false"
            data-target="#services-list" aria-controls="services-list">
        Create a new service
    </button>

    <div class="row mt-3">
        <div class="col">
            <div class="collapse" id="services-list">
                {% include '@Dashtainer/project/service/_create_service.html.twig' %}
            </div>
        </div>
    </div>

    <hr />

    <p>Networks:</p>
    {% for network in project.networks %}
        <p>{{ network.name }}</p>
    {% endfor %}

    {% if project.networks is empty %}
        <p>You have no networks.</p>
    {% endif %}

    <hr />

    <p>Secrets:</p>
    {% for secret in project.secrets %}
        <p>{{ secret.name }}</p>
    {% endfor %}

    {% if project.secrets is empty %}
        <p>You have no secrets.</p>
    {% endif %}

    <hr />

    <p>Volumes:</p>
    {% for volume in project.volumes %}
        <p>{{ volume.name }}</p>
    {% endfor %}

    {% if project.volumes is empty %}
        <p>You have no volumes.</p>
    {% endif %}
</div>
{% endblock %}
