{% extends '@Dashtainer/template.html.twig' %}

{% block content %}
<div class="page-header">
    <h1 class="page-title">
        {{ project.name }}
    </h1>
</div>

<div class="row">
    <div class="col-lg-3 order-lg-1 mb-4">
        <div class="alert alert-primary text-center">
            Manage Project
        </div>
        <div class="list-group list-group-transparent mb-0">
            <a href="{{ path('project.update.get', {'projectId': project.id}) }}"
               class="list-group-item list-group-item-action"><span
                    class="icon mr-3"><i class="fe fe-alert-triangle"></i></span>Edit Project</a>
            <a href="{{ path('project.export.get', {'projectId': project.id}) }}"
               class="list-group-item list-group-item-action"><span
                    class="icon mr-3"><i class="fe fe-user"></i></span>Export Project</a>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="card">
            <div class="card-body">
                <div class="text-wrap p-lg-6">
                    <div class="row align-items-end mb-2">
                        <div class="col-auto mr-auto">
                            <h3 class="mb-0">Services</h3>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary btn-sm" type="button"
                                    data-toggle="modal" data-target="#service-create-modal">
                                <i class="fe fe-plus mr-2"></i> Create a service
                            </button>
                        </div>
                    </div>

                    <table class="table table-vcenter text-nowrap">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th class="w-1"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for service in project.services if service.parent is empty %}
                            <tr>
                                <td><a href="{{ path('project.service.view.get', {
                                        'projectId': project.id,
                                        'serviceId': service.id,
                                    }) }}" class="text-inherit">{{ service.name }}</a></td>
                                <td>{{ service.type.name }}</td>
                                <td>
                                    <a class="icon" href="{{ path('project.service.update.get', {
                                        'projectId': project.id,
                                        'serviceId': service.id,
                                    }) }}"><i class="fe fe-edit"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if project.services is empty %}
                            <tr>
                                <td colspan="3">You have no services.</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                    <hr />

                    <div class="row align-items-end mb-2">
                        <div class="col-auto mr-auto">
                            <h3 class="mb-0">Networks</h3>
                        </div>
                        <div class="col-auto">
                            <a href="{{ path('project.network.create.get', {
                                    'projectId': project.id,
                                }) }}" class="btn btn-primary btn-sm">
                                <i class="fe fe-plus mr-2"></i> Create a network
                            </a>
                        </div>
                    </div>

                    <table class="table table-vcenter">
                        <thead>
                        <tr>
                            <th class="w-25">Name</th>
                            <th>Services</th>
                            <th class="w-1"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for network in networks %}
                            <tr>
                                <td><a href="{{ path('project.network.view.get', {
                                    'projectId': project.id,
                                    'networkId': network.id
                                }) }}" class="text-inherit">{{ network.name }}</a></td>
                                <td>
                                    <div class="tags">
                                        {% for service in network.services if service.parent is empty %}
                                            <a href="{{ path('project.service.view.get', {
                                                'projectId': project.id,
                                                'serviceId': service.id,
                                            }) }}" class="tag">{{ service.name }}</a>
                                        {% endfor %}
                                    </div>
                                </td>
                                <td>
                                    <a class="icon" href="{{ path('project.network.update.get', {
                                        'projectId': project.id,
                                        'networkId': network.id,
                                    }) }}"><i class="fe fe-edit"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if networks is empty %}
                            <tr>
                                <td colspan="3">You have no networks.</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="service-create-modal" tabindex="-1" role="dialog"
     aria-labelledby="service-create-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="service-create-modal-title">Create a Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include '@Dashtainer/project/snippets/service_create.html.twig' %}
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
        </div>
    </div>
</div>
{% endblock %}
